/*! ------------------------------------------------------------
>> bbPress.org Stylesheet
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Parent Theme Overrides
--------------------------------------------------------------*/
body pre,
body table thead,
table tr:nth-child(even) {
	background: #f5f4f0;
}

body table td {
	border-bottom-color: #f5f4f0;
}

#hero-pager li {
	opacity: 1;
}

.hero-posts .entry-title a:hover {
	opacity: 1;
}

#secondary-navigation ul li.current-menu-item {
	border-bottom: 4px solid #FFF;
}

#menu-global-header > li:first-of-type a {
	padding: 8px 0;
}

#menu-global-header > li:first-of-type img {
	width: 3.4rem;
	vertical-align: middle;
}

body .drawer {
	background: #f5f4f0;
}

.site-identity {
	background-color: #fff;
}

.top-navigation {
	background-color: #298431;
	color: #fff;
	opacity: 1 !important;
}

.top-navigation a {
	color: #fff !important;
	font-weight: 300;
	opacity: 1 !important;
}

.top-navigation a:active, .top-navigation a:focus, .top-navigation a:hover {
	color: #fff !important;
	text-decoration: underline;
	transition: 0.2s ease-in-out;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.main-navigation .sub-menu,
.main-navigation .children {
	background: #298431;
}

.site-identity .main-navigation li li:focus, .site-identity .main-navigation li li:hover {
	background: #004040;
	transition: 0.1s  ease-in-out;
}

.page .site-content {
	padding-bottom: 0;
	padding-top: 0;
}

.site-content .entry-title {
	font-size: 42px;
	margin-bottom: 0;
}

@media (max-width: 600px) {
	.site-content .entry-title {
		font-size: 30px;
	}
}

.site-content .entry-header {
	margin-bottom: 1.4em;
}

.site-content .form-title {
	font-size: 30px;
}

@media (max-width: 600px) {
	.site-content .form-title {
		font-size: 24px;
	}
}

.site-content a {
	color: #298431;
}

.site-content a:hover {
	color: #004040;
}

.entry-content a:not([class*="button"]) {
	color: #298431;
	border-bottom: 1px solid #2d8e42;
}

.entry-content a:not([class*="button"]):active, .entry-content a:not([class*="button"]):hover, .entry-content a:not([class*="button"]):focus {
	border-bottom: 1px solid #004040;
	color: #004040;
}

@media (max-width: 800px) {
	.widget-area {
		background: #fff;
		border: 1px solid #ddd;
	}
}

.post-navigation .nav-label {
	background: #298431;
}

.about-team {
	background: #f7f7f7;
	border: 1px solid #ddd;
	float: right;
	font-size: 0.8em;
	margin: -2em 0 10px 20px;
	padding: 10px 10px 0;
	width: 25%;
}

@media (max-width: 800px) {
	.about-team {
		float: none;
		width: 100%;
	}
}

.about-team a {
	color: #c94200;
}

.about-team h2 {
	clear: none;
	font-size: 20px;
}

.about-page {
	display: inline-block;
	width: 70%;
}

@media (max-width: 800px) {
	.about-page {
		display: block;
		width: 100%;
	}
}

.site-footer {
	background-color: #fff;
	border-top: 1px solid #eee;
}

.site-footer a {
	color: #298431;
}

.site-footer a:active, .site-footer a:hover, .site-footer a:focus {
	color: #004040;
	text-decoration: underline;
	transition: 0.2s ease-in-out;
}

.sidebar {
	display: inline-block;
	float: right;
	font-size: 16px;
	margin-bottom: 0;
	position: relative;
	vertical-align: top;
	width: 25%;
	-webkit-backface-visibility: hidden;
}

@media (max-width: 800px) {
	.sidebar {
		border: 1px solid #ddd;
		float: none;
		margin-top: 8%;
		padding: 5%;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.sidebar {
		margin-bottom: 35px;
	}
}

.sidebar .widget {
	margin-bottom: 45px;
}

@media (max-width: 800px) {
	.sidebar .widget {
		margin-bottom: 35px;
	}
}

.sidebar .widget-title,
.sidebar .widgettittle {
	font-size: 20px;
	line-height: 1.6;
	position: relative;
	margin-bottom: 20px;
}

.sidebar .textwidget p {
	margin-bottom: 15px;
}

.sidebar aside ul {
	margin: 0 0 0 0;
}

.sidebar aside ul.sub-menu,
.sidebar aside .children {
	margin: 4% 0 0 20px;
}

.sidebar aside ul.sub-menu li:last-child,
.sidebar aside .children li:last-child {
	margin-bottom: 0;
	padding-bottom: 2%;
	border-bottom: none;
}

.sidebar aside li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: dotted 1px #C7D6E4;
	list-style: none;
	position: relative;
}

.sidebar aside li:before {
	font-family: "dashicons";
	position: absolute;
	left: -18px;
	top: 3px;
	color: #A1B0BD;
	font-size: 12px;
	display: none;
}

.sidebar aside li ul li {
	list-style: circle;
}

.sidebar aside li:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}

/*--------------------------------------------------------------
# Main site
--------------------------------------------------------------*/
.home .site-content {
	padding-top: 0;
}

.home .content-area {
	margin-top: 0;
	padding-bottom: 0 !important;
	padding-top: 0;
	width: 100% !important;
}

.home .site-main .beebees-panel:nth-child(1) .entry-header {
	display: none;
}

.home .beebees-panel {
	clear: both;
	margin-bottom: 8%;
	overflow: hidden;
}

.home .beebees-panel:before, .home .beebees-panel:after {
	content: "";
	display: table;
}

.home .beebees-panel:last-child {
	margin-bottom: 0;
}

.home .entry-header {
	float: left;
	width: 25%;
}

@media (max-width: 800px) {
	.home .entry-header {
		float: none;
		width: 100%;
	}
}

.home .entry-content {
	clear: none;
	float: right;
	margin-top: 0;
	width: 70%;
}

@media (max-width: 800px) {
	.home .entry-content {
		float: none;
		width: 100%;
	}
}

.home .entry-content h3 {
	font-size: 1.75em;
	margin-bottom: 0;
}

@media (max-width: 800px) {
	.home .entry-content h3 {
		font-size: 1.5em;
	}
}

.home .entry-content h3 a {
	border-bottom: 0;
}

.home .beebees-statement {
	margin-bottom: 0.5em;
	font-size: 2.5em;
	font-weight: 300;
	padding-right: 30%;
}

@media (max-width: 1200px) {
	.home .beebees-statement {
		font-size: 2.25em;
		padding-right: 0;
	}
}

.home .beebees-point {
	font-size: 1.25em;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.home .front-page-author {
	font-size: 1.25em;
	margin-bottom: 0.5em;
}

.home .case-study-image {
	margin-bottom: 1.5em;
}

.home iframe {
	margin-bottom: 2em;
}

/*--------------------------------------------------------------
# Case Studies
--------------------------------------------------------------*/
.single-case-study .content-area {
	display: block;
	width: 100%;
}

.single-case-study .site-content {
	margin-bottom: 5%;
}

.single-case-study .site-main {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

@media (max-width: 800px) {
	.single-case-study .site-main {
		width: 100%;
	}
}

.post-type-archive-case-study .content-area {
	display: block;
	width: 100%;
}

.post-type-archive-case-study .site-content {
	padding-top: 0;
}

.post-type-archive-case-study .entry-title {
	margin-bottom: 8%;
}

.post-type-archive-case-study .archive-case-study .post {
	border: 1px solid transparent;
}

.post-type-archive-case-study .archive-case-study .post:last-child {
	margin-bottom: 0;
}

.post-type-archive-case-study .case-study-text {
	float: right;
	margin: 0;
	padding: 2% 0 0 3%;
	width: 48%;
}

@media (max-width: 800px) {
	.post-type-archive-case-study .case-study-text {
		float: none;
		padding-left: 0;
		width: 100%;
	}
}

.post-type-archive-case-study .case-author-avatar {
	float: left;
	margin: 0 1em 1em 0;
}

.post-type-archive-case-study .entry-case-title {
	font-size: 2em;
}

@media (max-width: 800px) {
	.post-type-archive-case-study .entry-case-title {
		font-size: 1.5em;
	}
}

.post-type-archive-case-study .case-study-featured-image {
	float: left;
	margin: 0;
	padding: 0;
	width: 50%;
}

@media (max-width: 800px) {
	.post-type-archive-case-study .case-study-featured-image {
		float: none;
		width: 100%;
	}
}

.post-type-archive-case-study .case-study:nth-child(even) .case-study-text {
	float: left;
	padding: 3% 2% 0 2%;
}

@media (max-width: 800px) {
	.post-type-archive-case-study .case-study:nth-child(even) .case-study-text {
		float: none;
	}
}

.post-type-archive-case-study .case-study:nth-child(even) .case-study-featured-image {
	float: right;
}

@media (max-width: 800px) {
	.post-type-archive-case-study .case-study:nth-child(even) .case-study-featured-image {
		float: none;
	}
}

/*--------------------------------------------------------------
# Forums
--------------------------------------------------------------*/
.hidden, 0
.js .hide-if-js {
	display: none;
}

.screen-reader-text span,
.ui-helper-hidden-accessible {
	position: absolute;
	margin: -1px;
	padding: 0;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	border: 0;
	word-wrap: normal !important;
}

.bbpress .site-content {
	padding-top: 0;
}

.bbpress .site-content .entry-header {
	display: inline-block;
}

.bbpress .site-content .entry-title {
	font-size: 42px;
}

@media (max-width: 800px) {
	.bbpress .site-content .entry-title {
		font-size: 30px;
	}
}

.entry-content .bbpress-wrapper a,
.entry-content .bbpress-wrapper a:hover {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.entry-content .bbpress-wrapper li.bbp-body a,
.bbpress-wrapper .bbp-template-notice a {
	color: #0e5814;
}

.bbpress-wrapper hr {
	margin: 0 0 24px;
}

.bbpress-wrapper {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	overflow: hidden;
}

.bbpress-wrapper div.even,
.bbpress-wrapper ul.even {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

.bbpress-wrapper div.odd,
.bbpress-wrapper ul.odd {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}

body.reply-edit .reply {
	float: none;
}

.bbpress-wrapper div.reply {
	height: auto;
	width: 100%;
}

.bbpress-wrapper div.bbp-forum-header,
.bbpress-wrapper div.bbp-topic-header,
.bbpress-wrapper div.bbp-reply-header {
	background-color: #f9f9f9;
	padding: 15px;
}

.bbpress-wrapper div.bbp-forum-header a,
.bbpress-wrapper div.bbp-topic-header a,
.bbpress-wrapper div.bbp-reply-header a {
	color: #0e5814;
}

.bbpress-wrapper .status-trash.even,
.bbpress-wrapper .status-spam.even {
	background-color: #fee;
}

.bbpress-wrapper .status-trash.odd,
.bbpress-wrapper .status-spam.odd {
	background-color: #fdd;
}

.bbpress-wrapper .status-pending.even,
.bbpress-wrapper .status-pending.odd,
.bbpress-wrapper ul.status-pending a {
	background-color: #fef7f1;
}

.bbpress-wrapper ul.status-closed {
	background-color: #f9f9f9;
}

.bbpress-wrapper ul {
	background: none;
	list-style: none;
	margin: 0;
	padding: 0;
}

.bbpress-wrapper ul.bbp-threaded-replies {
	margin-left: 50px;
}

.bbpress-wrapper li {
	background: none;
	margin: 0;
	list-style: none;
}

.bbpress-wrapper ul.bbp-lead-topic,
.bbpress-wrapper ul.bbp-topics,
.bbpress-wrapper ul.bbp-forums,
.bbpress-wrapper ul.bbp-replies,
.bbpress-wrapper ul.bbp-search-results {
	font-size: 12px;
	overflow: hidden;
	border: 1px solid #eee;
	margin-bottom: 20px;
	clear: both;
}

.bbpress-wrapper ul.bbp-lead-topic {
	border-left: 2px solid #298431;
}

.bbpress-wrapper li.bbp-header,
.bbpress-wrapper li.bbp-body,
.bbpress-wrapper li.bbp-footer {
	clear: both;
}

.bbpress-wrapper li.bbp-header {
	background: #298431;
	border-top: 1px solid #eee;
	color: #fff;
	font-weight: 700;
	padding: 8px;
	text-align: center;
}

.bbpress-wrapper li.bbp-footer {
	display: none;
}

.bbpress-wrapper li.bbp-header ul {
	overflow: hidden;
}

.bbpress-wrapper .bbp-forums-list {
	margin: 0 0 0 5px;
	padding-left: 15px;
	border-left: 1px solid #ddd;
}

.bbpress-wrapper .bbp-forums-list li {
	display: inline;
	font-size: 11px;
}

.bbpress-wrapper li.bbp-footer p {
	margin: 0;
	line-height: 1;
}

li.bbp-body li.bbp-topic-title a,
li.bbp-body li.bbp-topic-freshness a {
	border-bottom: 0;
}

li.bbp-forum-info,
li.bbp-topic-title {
	float: left;
	text-align: left;
	width: 55%;
}

li.bbp-body li.bbp-forum-info,
li.bbp-body li.bbp-topic-title {
	font-size: 1.2em;
}

li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
	float: left;
	text-align: center;
	width: 10%;
}

li.bbp-forum-freshness,
li.bbp-topic-freshness {
	text-align: center;
	float: left;
	width: 22%;
}

.bbpress-wrapper li.bbp-body ul.forum,
.bbpress-wrapper li.bbp-body ul.topic {
	border-top: 1px solid #eee;
	overflow: hidden;
	padding: 8px;
}

.bbpress-wrapper #subscription-toggle,
.bbpress-wrapper #favorite-toggle {
	float: right;
}

.bbpress-wrapper div.bbp-forum-title h3,
.bbpress-wrapper div.bbp-topic-title h3,
.bbpress-wrapper div.bbp-reply-title h3 {
	background: none;
	border: none;
	font-size: 16px;
	line-height: 1;
	margin: 8px 0;
	padding: 0;
	text-transform: none;
}

.bbpress-wrapper div.bbp-forum-author,
.bbpress-wrapper div.bbp-topic-author,
.bbpress-wrapper div.bbp-reply-author {
	float: none;
	font-size: 1.15em;
	margin-bottom: 20px;
	text-align: left;
	width: 100%;
}

.bbpress-wrapper div.bbp-forum-author p,
.bbpress-wrapper div.bbp-topic-author p,
.bbpress-wrapper div.bbp-reply-author p {
	margin-bottom: 0;
}

.bbpress-wrapper div.bbp-forum-author a,
.bbpress-wrapper div.bbp-forum-author a:hover,
.bbpress-wrapper div.bbp-topic-author a,
.bbpress-wrapper div.bbp-topic-author a:hover,
.bbpress-wrapper div.bbp-reply-author a,
.bbpress-wrapper div.bbp-reply-author a:hover {
	border-bottom: 0;
}

.bbpress-wrapper div.bbp-forum-author img.avatar,
.bbpress-wrapper div.bbp-topic-author img.avatar,
.bbpress-wrapper div.bbp-reply-author img.avatar {
	border: none;
	float: left;
	height: 80px;
	margin-bottom: 20px;
	margin-right: 15px;
	padding: 0;
	width: 80px;
}

.bbpress-wrapper div.bbp-forum-author a.bbp-author-name,
.bbpress-wrapper div.bbp-topic-author a.bbp-author-name,
.bbpress-wrapper div.bbp-reply-author a.bbp-author-name {
	display: inline-block;
	font-size: 1.25em;
	word-wrap: break-word;
}

.bbpress-wrapper div.bbp-forum-author .bbp-author-role,
.bbpress-wrapper div.bbp-topic-author .bbp-author-role,
.bbpress-wrapper div.bbp-reply-author .bbp-author-role {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	display: inline-block;
	font-style: italic;
	margin: 0;
	padding: 3px 5px;
}

.bbpress-wrapper li.bbp-header .bbp-search-author,
.bbpress-wrapper li.bbp-footer .bbp-search-author,
.bbpress-wrapper li.bbp-header .bbp-forum-author,
.bbpress-wrapper li.bbp-footer .bbp-forum-author,
.bbpress-wrapper li.bbp-header .bbp-topic-author,
.bbpress-wrapper li.bbp-footer .bbp-topic-author,
.bbpress-wrapper li.bbp-header .bbp-reply-author,
.bbpress-wrapper li.bbp-footer .bbp-reply-author {
	float: left;
	margin: 0;
	padding: 0;
	width: 120px;
}

.bbpress-wrapper li.bbp-header .bbp-search-content,
.bbpress-wrapper li.bbp-footer .bbp-search-content,
.bbpress-wrapper li.bbp-header .bbp-forum-content,
.bbpress-wrapper li.bbp-footer .bbp-forum-content,
.bbpress-wrapper li.bbp-header .bbp-topic-content,
.bbpress-wrapper li.bbp-footer .bbp-topic-content,
.bbpress-wrapper li.bbp-header .bbp-reply-content,
.bbpress-wrapper li.bbp-footer .bbp-reply-content {
	margin-left: 140px;
	padding: 0;
	text-align: left;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
	margin: 0;
	overflow: hidden;
	padding: 8px;
}

li.bbp-body div.hentry {
	padding: 15px;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
	border-top: 1px solid #ddd;
	clear: both;
}

span.bbp-author-ip {
	font-size: 11px;
	font-weight: 300;
	word-wrap: break-word;
	color: #767676;
}

.bbpress-wrapper div.bbp-forum-content,
.bbpress-wrapper div.bbp-topic-content,
.bbpress-wrapper div.bbp-reply-content {
	clear: both;
	font-size: 1.35em;
	padding: 0 2% 0 95px;
	text-align: left;
}

@media (max-width: 800px) {
	.bbpress-wrapper div.bbp-forum-content,
	.bbpress-wrapper div.bbp-topic-content,
	.bbpress-wrapper div.bbp-reply-content {
		padding-left: 0;
	}
}

.bbpress-wrapper div.bbp-forum-content:after,
.bbpress-wrapper div.bbp-topic-content:after,
.bbpress-wrapper div.bbp-reply-content:after {
	clear: both;
	content: ".";
	display: block;
	float: none;
	height: 0;
	font-size: 0;
	visibility: hidden;
}

.bbpress-wrapper div.bbp-topic-content a,
.bbpress-wrapper div.bbp-reply-content a {
	background: none;
	border: none;
	display: inline;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.bbpress-wrapper div.bbp-topic-content a.bbp-user-mention,
.bbpress-wrapper div.bbp-reply-content a.bbp-user-mention {
	background: none;
	border: none;
	text-decoration: none;
	text-shadow: none;
	display: inline;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

.bbpress-wrapper div.bbp-topic-content h1,
.bbpress-wrapper div.bbp-reply-content h1,
.bbpress-wrapper div.bbp-topic-content h2,
.bbpress-wrapper div.bbp-reply-content h2,
.bbpress-wrapper div.bbp-topic-content h3,
.bbpress-wrapper div.bbp-reply-content h3,
.bbpress-wrapper div.bbp-topic-content h4,
.bbpress-wrapper div.bbp-reply-content h4,
.bbpress-wrapper div.bbp-topic-content h5,
.bbpress-wrapper div.bbp-reply-content h5,
.bbpress-wrapper div.bbp-topic-content h6,
.bbpress-wrapper div.bbp-reply-content h6 {
	clear: none;
	line-height: 1;
	margin: 24px 0;
	padding: 0;
}

.bbpress-wrapper div.bbp-topic-content img,
.bbpress-wrapper div.bbp-reply-content img {
	max-width: 100%;
	height: auto;
}

.bbpress-wrapper div.bbp-topic-content ul,
.bbpress-wrapper div.bbp-reply-content ul,
.bbpress-wrapper div.bbp-topic-content ol,
.bbpress-wrapper div.bbp-reply-content ol {
	margin: 0 15px 15px;
	padding: 0;
}

.bbpress-wrapper div.bbp-topic-content ul li,
.bbpress-wrapper div.bbp-reply-content ul li {
	list-style-type: disc;
}

.bbpress-wrapper div.bbp-topic-content ol li,
.bbpress-wrapper div.bbp-reply-content ol li {
	list-style-type: decimal;
}

.bbpress-wrapper div.bbp-topic-content ol li li,
.bbpress-wrapper div.bbp-reply-content ol li li {
	list-style-type: lower-alpha;
}

.bbpress-wrapper div.bbp-topic-content ol li li li,
.bbpress-wrapper div.bbp-reply-content ol li li li {
	list-style-type: upper-roman;
}

.bbpress-wrapper div.bbp-topic-content code,
.bbpress-wrapper div.bbp-reply-content code,
.bbpress-wrapper div.bbp-topic-content pre,
.bbpress-wrapper div.bbp-reply-content pre {
	font-family: Inconsolata, Consolas, Monaco, "Lucida Console", monospace;
	display: inline-block;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 0 5px;
	max-width: 95%;
	vertical-align: middle;
	margin-top: -3px;
	overflow-x: auto;
}

.bbpress-wrapper div.bbp-topic-content pre,
.bbpress-wrapper div.bbp-reply-content pre {
	display: block;
	line-height: 18px;
	margin: 0 0 24px;
	padding: 5px 10px;
	white-space: pre;
	overflow: auto;
}

.bbpress-wrapper div.bbp-topic-content pre code,
.bbpress-wrapper div.bbp-reply-content pre code {
	display: block;
	border: none;
	padding: 0;
	margin: 0;
	background-color: transparent;
	overflow-wrap: normal;
	overflow: auto;
	max-width: 100%;
}

.bbpress-wrapper div.bbp-reply-to {
	margin-left: 130px;
	padding: 12px 12px 12px 0;
	text-align: right;
}

.bbpress-wrapper div#bbp-cancel-reply-to {
	text-align: right;
}

div.bbp-breadcrumb {
	float: left;
}

div.bbp-breadcrumb,
div.bbp-topic-tags {
	font-size: 12px;
}

.bbpress-wrapper div.bbp-breadcrumb p,
.bbpress-wrapper div.bbp-topic-tags p {
	margin-bottom: 10px;
}

.bbpress-wrapper div.bbp-topic-tags {
	float: right;
	clear: both;
}

#bbp-topic-hot-tags {
	clear: both;
}

.bbp-search-form {
	position: relative;
}

.site-main form {
	width: auto;
}

#bbp-search-form {
	position: absolute;
	right: 0;
	top: -90px;
}

.bbp-search #bbp-search-form {
	top: 45px;
}

#bbp_search_submit {
	padding: 5px 10px;
}

.content-area #bbp-search-form .hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	position: absolute;
	background: none;
	left: -999em;
}

.entry-content #bbp-search-form #bbp_search {
	display: inline-block;
	width: auto;
}

#bbp_search_submit,
#bbp_topic_submit,
#bbp_reply_submit,
#bbp_merge_topic_submit,
#searchsubmit {
	background: #d34600;
	box-shadow: 0;
	color: #fff;
	font-size: 0.9em;
}

.bbpress-wrapper div.bbp-search-form {
	float: right;
}

span.bbp-admin-links {
	float: right;
	color: #767676;
}

span.bbp-admin-links a {
	color: #bbb;
	font-weight: 400;
	font-size: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

fieldset span.bbp-admin-links {
	float: left;
}

tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}

td.bbp-topic-admin-links,
td.bbp-topic-counts {
	width: 50%;
}

.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #ccc;
}

.bbp-row-actions #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: 700;
	font-size: 13px;
}

.bbp-row-actions #favorite-toggle a:focus,
.bbp-row-actions #favorite-toggle a:hover {
	color: #5a5;
	border-color: #7c7;
	background-color: #beb;
}

.bbp-row-actions #favorite-toggle span.is-favorite a {
	color: #faa;
	border: 1px solid #faa;
	background-color: #fee;
}

.bbp-row-actions #favorite-toggle span.is-favorite a:focus,
.bbp-row-actions #favorite-toggle span.is-favorite a:hover {
	color: #c88;
	border-color: #c88;
	background-color: #fdd;
}

.bbp-row-actions #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #7c7;
	border: 1px solid #aca;
	background-color: #dfd;
	font-weight: 700;
	font-size: 13px;
}

.bbp-row-actions #subscription-toggle a:hover {
	color: #5a5;
	border-color: #7c7;
	background-color: #beb;
}

.bbp-row-actions #subscription-toggle span.is-subscribed a {
	color: #faa;
	border: 1px solid #faa;
	background-color: #fee;
}

.bbp-row-actions #subscription-toggle span.is-subscribed a:hover {
	color: #c88;
	border-color: #c88;
	background-color: #fdd;
}

.bbpress-wrapper .bbp-forum-info .bbp-forum-content,
.bbpress-wrapper p.bbp-topic-meta {
	font-size: 11px;
	margin: 5px 0;
	padding: 0;
	word-wrap: break-word;
}

.bbpress-wrapper p.bbp-topic-meta span {
	white-space: nowrap;
}

.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
}

.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline-block;
}

.bbp-pagination-links a,
.bbp-pagination-links span.current {
	border: 1px solid #efefef;
	display: block;
	float: left;
	font-size: 1em;
	padding: 0 8px;
	text-decoration: none;
}

.bbp-pagination-links a:focus,
.bbp-pagination-links a:hover {
	background: #298431;
	color: #fff !important;
}

.bbp-pagination-links span.current {
	background-color: #f9f9f9;
	color: #0e5814;
	border: 1px solid #ddd;
}

.bbp-pagination-links span.dots {
	display: block;
	float: left;
	padding: 1px 4px;
	margin-left: 5px;
}

.bbp-pagination {
	font-size: 0.8em;
	margin-bottom: 15px;
	overflow: hidden;
	width: 100%;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
}

.bbp-topic-pagination a {
	font-size: 10px;
	line-height: 10px;
	padding: 1px 3px;
	border: 1px solid #ddd;
	text-decoration: none;
}

.bbpress-wrapper fieldset.bbp-form {
	clear: left;
}

.bbpress-wrapper fieldset.bbp-form {
	border: 1px solid #eee;
	padding: 10px 20px;
	margin-bottom: 10px;
}

.bbpress-wrapper fieldset.bbp-form legend {
	padding: 5px;
}

.bbpress-wrapper fieldset.bbp-form label {
	margin: 0;
	display: inline-block;
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
	width: 100px;
}

.bbpress-wrapper fieldset.bbp-form p,
.bbpress-wrapper fieldset.bbp-form textarea,
.bbpress-wrapper fieldset.bbp-form select,
.bbpress-wrapper fieldset.bbp-form input {
	margin: 0 0 8px;
}

textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
	width: 97%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

textarea#bbp_forum_content {
	height: 210px;
}

.bbpress-wrapper fieldset.bbp-forum-form-attributes {
	width: 200px;
	float: right;
	clear: none;
	margin-left: 25px;
}

.bbpress-wrapper fieldset select#bbp_forum_id {
	max-width: 200px;
}

.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
	clear: left;
}

body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #ddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #ceefe1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag,
#delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	max-width: 100%;
}

.bbpress-wrapper div.bbp-the-content-wrapper {
	margin-bottom: 10px;
}

.bbpress-wrapper div.bbp-the-content-wrapper textarea.bbp-the-content {
	width: 100%;
	margin: 0;
	font-size: 12px;
}

.bbpress-wrapper div.bbp-the-content-wrapper table,
.bbpress-wrapper div.bbp-the-content-wrapper tbody,
.bbpress-wrapper div.bbp-the-content-wrapper tr,
.bbpress-wrapper div.bbp-the-content-wrapper td {
	border: none;
	padding: 0;
	margin: 0;
	width: auto;
	line-height: 1;
}

.bbpress-wrapper div.bbp-the-content-wrapper input {
	font-size: 12px;
	padding: 5px;
	margin: 0 2px 0 0;
	line-height: 1;
}

.bbpress-wrapper div.bbp-the-content-wrapper div.quicktags-toolbar {
	padding: 5px;
	min-height: 26px;
}

.bbpress-wrapper div.bbp-the-content-wrapper td.mceToolbar {
	padding: 4px 4px 8px;
}

.bbpress-wrapper div.wp-editor-container {
	margin: 0;
	padding: 0;
	line-height: 0;
}

.bbpress-wrapper div.bbp-the-content-wrapper td.mceStatusbar {
	line-height: 16px;
}

.bbpress-wrapper #bbp-your-profile fieldset {
	padding: 20px 20px 0;
}

.bbpress-wrapper #bbp-your-profile fieldset div {
	margin-bottom: 20px;
	float: left;
	width: 100%;
	clear: left;
}

.bbpress-wrapper #bbp-your-profile fieldset select {
	margin-bottom: 0;
}

.bbpress-wrapper #bbp-your-profile fieldset input,
.bbpress-wrapper #bbp-your-profile fieldset textarea {
	margin-bottom: 0;
	width: 60%;
	background: #f9f9f9;
	border: 1px solid #ddd;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 5px 8px;
	-webkit-border-radius: 0;
	border-radius: 0;
}

.bbpress-wrapper #bbp-your-profile fieldset input:focus,
.bbpress-wrapper #bbp-your-profile fieldset textarea:focus {
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
	outline-color: rgba(240, 255, 240, 0.1);
}

.bbpress-wrapper #bbp-your-profile fieldset.bbp-form input.checkbox {
	width: auto;
}

.bbpress-wrapper #bbp-your-profile fieldset legend {
	display: none;
}

.bbpress-wrapper #bbp-your-profile fieldset label[for] {
	float: left;
	width: 20%;
	padding: 5px 20px 5px 0;
	text-align: right;
	cursor: pointer;
}

.bbpress-wrapper #bbp-your-profile fieldset dl label[for] {
	text-align: left;
	width: 60%;
}

.bbpress-wrapper #bbp-your-profile fieldset span.description {
	margin: 5px 0 0 20%;
	font-size: 12px;
	font-style: italic;
	float: left;
	clear: left;
	width: 60%;
	padding: 5px 8px;
	border: #cee1ef 1px solid;
	background-color: #f0f8ff;
}

.bbpress-wrapper #bbp-your-profile fieldset fieldset {
	margin: 0;
	border: none;
	padding: 0;
	clear: none;
	float: none;
}

.bbpress-wrapper #bbp-your-profile fieldset fieldset.password {
	width: 60%;
	display: inline;
}

.bbpress-wrapper #bbp-your-profile fieldset fieldset.password input,
.bbpress-wrapper #bbp-your-profile fieldset fieldset.password span {
	width: 100%;
}

.bbpress-wrapper #bbp-your-profile fieldset fieldset.capabilities dl {
	margin: 0;
}

.bbpress-wrapper #bbp-your-profile fieldset fieldset.password span.description {
	margin-left: 0;
	margin-bottom: 20px;
}

.bbpress-wrapper #bbp-your-profile fieldset.submit button {
	float: right;
}

div.bbp-template-notice,
div.indicator-hint {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000;
	clear: both;
}

div.bbp-template-notice a {
	color: #555;
	text-decoration: none;
}

div.bbp-template-notice a:focus, div.bbp-template-notice a:hover {
	color: #000;
}

div.bbp-template-notice p,
div.bbp-template-notice li {
	font-size: 0.8em;
	line-height: 1.4;
	margin: 0.5em 0 6px !important;
	padding: 2px;
}

div.bbp-template-notice.info {
	border: #cee1ef 1px solid;
	background-color: #f0f8ff;
}

div.bbp-template-notice.important {
	border: #e6db55 1px solid;
	background-color: #fffbcc;
}

div.bbp-template-notice.error, div.bbp-template-notice.warning {
	background-color: #ffebe8;
	border-color: #c00;
}

div.bbp-template-notice.error a,
div.bbp-template-notice.warning a {
	color: #c00;
}

.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	font-size: 1.1em;
}

.bbpress-wrapper .bbp-topic-content ul.bbp-topic-revision-log,
.bbpress-wrapper .bbp-reply-content ul.bbp-topic-revision-log,
.bbpress-wrapper .bbp-reply-content ul.bbp-reply-revision-log {
	border-top: 1px dotted #ddd;
	width: 100%;
	margin: 0;
	padding: 8px 0 0;
	font-size: 11px;
	color: #767676;
}

.bbpress-wrapper .bbp-topic-content ul.bbp-topic-revision-log li,
.bbpress-wrapper .bbp-reply-content ul.bbp-topic-revision-log li,
.bbpress-wrapper .bbp-reply-content ul.bbp-reply-revision-log li {
	list-style-type: none;
}

.bbp-login-form fieldset legend {
	display: none;
}

.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
	padding: 5px;
}

.bbp-login-form label {
	width: 140px;
	display: inline-block;
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
	margin-top: 10px;
}

.bbp-login-form .bbp-submit-wrapper {
	text-align: right;
}

.bbp-login-form .bbp-login-links {
	background-color: inherit;
}

.bbp-login-form .bbp-login-links a {
	float: left;
	clear: left;
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
}

.bbp-logged-in h4 {
	font-weight: 700;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

.bbpress-wrapper img.avatar {
	-webkit-box-shadow: none;
	box-shadow: none;
	display: inline-block;
}

.bbpress-wrapper p.bbp-topic-meta img.avatar,
.bbpress-wrapper ul.bbp-reply-revision-log img.avatar,
.bbpress-wrapper ul.bbp-topic-revision-log img.avatar,
.bbpress-wrapper div.bbp-template-notice img.avatar,
.bbpress-wrapper .widget_display_topics img.avatar,
.bbpress-wrapper .widget_display_replies img.avatar {
	float: none;
	vertical-align: middle;
	border: 3px double #ddd;
}

fieldset div.avatar {
	float: right;
}

.bbpress-wrapper h1 {
	clear: none;
	font-size: 1.8em;
	line-height: 1;
	padding-bottom: 10px;
}

.bbpress-wrapper #bbp-user-wrapper {
	float: left;
	width: 100%;
}

.bbpress-wrapper .bbp-user-section {
	overflow: auto;
}

.bbpress-wrapper #bbp-user-wrapper h2.entry-title {
	font-size: 1.4em;
	margin: 0;
	padding-bottom: 10px;
	padding-top: 0;
	clear: none;
}

.bbpress-wrapper #bbp-user-wrapper ul.bbp-lead-topic,
.bbpress-wrapper #bbp-user-wrapper ul.bbp-topics,
.bbpress-wrapper #bbp-user-wrapper ul.bbp-forums,
.bbpress-wrapper #bbp-user-wrapper ul.bbp-replies,
.bbpress-wrapper #bbp-user-wrapper fieldset.bbp-form {
	clear: none;
}

.bbpress-wrapper #bbp-single-user-details {
	margin: 0;
	width: 150px;
	float: left;
	overflow: hidden;
}

.bbpress-wrapper #bbp-single-user-details #bbp-user-avatar {
	margin: 0;
	width: 150px;
}

.bbpress-wrapper #bbp-single-user-details #bbp-user-avatar img.avatar {
	border: none;
	height: 150px;
	padding: 0;
	margin: 0 0 20px;
	width: 150px;
}

.bbpress-wrapper #bbp-single-user-details #bbp-user-description {
	float: none;
	margin-left: 180px;
}

.bbpress-wrapper #bbp-single-user-details #bbp-user-navigation {
	float: none;
	margin: 0;
}

.bbpress-wrapper #bbp-single-user-details #bbp-user-navigation li {
	margin: 0;
}

.bbpress-wrapper #bbp-single-user-details #bbp-user-navigation a {
	padding: 5px 8px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

.bbpress-wrapper #bbp-single-user-details #bbp-user-navigation li.current a {
	background: #eee;
	opacity: 0.8;
}

.bbpress-wrapper #bbp-user-body {
	margin-left: 180px;
}

body.my-account .bbpress-wrapper {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

.bbpress-wrapper dl.bbp-user-capabilities {
	display: inline-block;
	vertical-align: top;
}

.bbpress-wrapper dl.bbp-user-capabilities dt {
	margin: 0 0 10px;
	text-transform: capitalize;
}

.bbpress-wrapper dl.bbp-user-capabilities dd {
	margin: 0;
	padding: 0;
}

.bbp-alert-outer {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 99999;
}

.bbp-alert-inner {
	width: 350px;
	text-align: center;
	background: #fff;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -75px;
	margin-left: -185px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #aaa;
	padding: 15px 10px 10px;
}

.bbp-alert-outer .bbp-alert-inner p {
	margin: 10px 0;
}

.bbp-alert-actions a {
	padding: 5px 20px;
	text-decoration: none;
}

@media only screen and (max-width: 480px) {
	.bbpress-wrapper div.bbp-topic-tags {
		clear: left;
		float: left;
	}
	div.bbp-search-form input,
	div.bbp-search-form button {
		font-size: 11px;
		padding: 2px;
	}
	li.bbp-forum-info,
	li.bbp-topic-title {
		width: 45%;
	}
	li.bbp-forum-topic-count,
	li.bbp-forum-reply-count,
	li.bbp-topic-voice-count,
	li.bbp-topic-reply-count {
		width: 15%;
	}
	span.bbp-topic-post-date,
	span.bbp-reply-post-date {
		float: left;
	}
	span.bbp-admin-links {
		clear: left;
		float: left;
	}
	.bbpress-wrapper .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}
	div.bbp-submit-wrapper {
		float: left;
	}
	.bbpress-wrapper fieldset.bbp-form {
		padding: 0 10px 10px;
	}
	.bbpress-wrapper #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}
	.bbpress-wrapper div.bbp-forum-title h3,
	.bbpress-wrapper div.bbp-topic-title h3,
	.bbpress-wrapper div.bbp-reply-title h3 {
		font-size: 14px;
	}
}

@media only screen and (max-width: 320px) {
	.bbpress-wrapper div.bbp-search-form {
		margin-bottom: 10px;
	}
	.bbpress-wrapper li.bbp-header li.bbp-forum-info,
	.bbpress-wrapper li.bbp-body li.bbp-forum-info,
	.bbpress-wrapper li.bbp-header li.bbp-topic-title,
	.bbpress-wrapper li.bbp-body li.bbp-topic-title {
		width: 100%;
	}
	.bbpress-wrapper li.bbp-header li.bbp-forum-info,
	.bbpress-wrapper li.bbp-header li.bbp-topic-title {
		text-align: center;
		text-transform: uppercase;
	}
	.bbpress-wrapper li.bbp-header li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-header li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-reply-count {
		width: 20%;
	}
	.bbpress-wrapper li.bbp-header li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-header li.bbp-topic-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness {
		width: 58%;
	}
	.bbpress-wrapper li.bbp-body li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness {
		margin-top: 7px;
	}
	.bbpress-wrapper li.bbp-header,
	.bbpress-wrapper li.bbp-footer {
		font-size: 10px;
	}
	.bbpress-wrapper li.bbp-header div.bbp-search-author,
	.bbpress-wrapper li.bbp-header div.bbp-topic-author,
	.bbpress-wrapper li.bbp-header div.bbp-reply-author {
		text-align: left;
		width: 25%;
	}
	.bbpress-wrapper li.bbp-header div.bbp-search-content,
	.bbpress-wrapper li.bbp-header div.bbp-topic-content,
	.bbpress-wrapper li.bbp-header div.bbp-reply-content {
		margin-left: 25%;
	}
	.bbpress-wrapper div.bbp-template-notice img.avatar,
	.bbpress-wrapper p.bbp-topic-meta img.avatar {
		width: 14px;
		height: auto;
	}
	.bbpress-wrapper div.bbp-the-content-wrapper td.mceToolbar {
		padding: 1px;
	}
	.bbpress-wrapper div.bbp-the-content-wrapper td.mceToolbar td {
		width: 20px;
		height: 20px;
	}
	.bbpress-wrapper div.wp-editor-container {
		width: 100%;
		overflow: auto;
	}
	.bbpress-wrapper input#bbp_topic_title,
	.bbpress-wrapper input#bbp_topic_tags {
		width: 95%;
	}
	.bbpress-wrapper div.bbp-forum-title h3,
	.bbpress-wrapper div.bbp-topic-title h3,
	.bbpress-wrapper div.bbp-reply-title h3 {
		font-size: 14px;
	}
}

@media only screen and (max-width: 240px) {
	.bbpress-wrapper li.bbp-header li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-header li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-topic-count,
	.bbpress-wrapper li.bbp-body li.bbp-forum-reply-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-header li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-voice-count,
	.bbpress-wrapper li.bbp-body li.bbp-topic-reply-count,
	.bbpress-wrapper li.bbp-footer div.bbp-search-author,
	.bbpress-wrapper li.bbp-footer div.bbp-topic-author,
	.bbpress-wrapper li.bbp-footer div.bbp-reply-author {
		width: 45%;
	}
	.bbpress-wrapper li.bbp-header li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-header li.bbp-topic-freshness,
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness {
		clear: both;
		width: 100%;
	}
	.bbpress-wrapper li.bbp-header li.bbp-forum-freshness,
	.bbpress-wrapper li.bbp-header li.bbp-topic-freshness {
		text-align: center;
	}
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness,
	.bbpress-wrapper li.bbp-header div.bbp-search-author,
	.bbpress-wrapper li.bbp-header div.bbp-search-content,
	.bbpress-wrapper li.bbp-header div.bbp-topic-author,
	.bbpress-wrapper li.bbp-header div.bbp-topic-content,
	.bbpress-wrapper li.bbp-header div.bbp-reply-author,
	.bbpress-wrapper li.bbp-header div.bbp-reply-content {
		margin-left: 0;
		text-align: left;
	}
	.bbpress-wrapper li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
		display: inline-block;
	}
	.bbpress-wrapper li.bbp-header {
		overflow: hidden;
	}
	.bbpress-wrapper li.bbp-footer div.bbp-search-content,
	.bbpress-wrapper li.bbp-footer div.bbp-topic-content,
	.bbpress-wrapper li.bbp-footer div.bbp-reply-content {
		display: inline-block;
		margin-left: 0;
	}
	.bbpress-wrapper li.bbp-body div.bbp-topic-author,
	.bbpress-wrapper li.bbp-body div.bbp-reply-author {
		min-height: 60px;
		padding-left: 60px;
	}
	.bbpress-wrapper div.bbp-topic-author img.avatar,
	.bbpress-wrapper div.bbp-reply-author img.avatar {
		width: 40px;
		height: auto;
	}
	.bbpress-wrapper div.bbp-forum-title h3,
	.bbpress-wrapper div.bbp-topic-title h3,
	.bbpress-wrapper div.bbp-reply-title h3 {
		font-size: 12px;
	}
}

ul.sticky a.bbp-topic-permalink:before,
ul.super-sticky a.bbp-topic-permalink:before,
ul.status-closed a.bbp-topic-permalink:before,
.forum-info li.topic-count:before,
.widget .topic-info li.topic-parent:before,
.widget .topic-info li.topic-forum:before,
.widget .topic-info li.reply-count:before,
.widget .forum-info li.reply-count:before,
.widget .topic-info li.voice-count:before,
.widget .topic-info li.topic-freshness-author:before,
.widget .forum-info li.forum-freshness-author:before,
.widget .topic-info li.topic-freshness-time:before,
.widget .forum-info li.forum-freshness-time:before,
.widget .forum-info li.forum-subscribe:before,
.widget .topic-info li.topic-subscribe:before,
.widget .topic-info li.topic-favorite:before,
.widget .topic-admin-links li:before,
.widget .bbp-view-title:before,
.widget a.feed:before {
	font-family: "dashicons" !important;
	font-weight: 3000;
	line-height: 1;
	margin-right: 5px;
}

ul.sticky a.bbp-topic-permalink:before,
ul.super-sticky a.bbp-topic-permalink:before {
	color: #bb0;
	content: "\f450";
}

ul.status-closed a.bbp-topic-permalink:before {
	color: #555;
	content: "\f160";
}

.forum-info li.topic-count:before {
	content: "\f450";
}

.topic-indicator {
	font-size: 1em;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.topic-indicator .dashicons-lock {
	color: #004040;
}

.topic-indicator .dashicons-admin-post {
	color: #2d8e42;
}

.topic-indicator span {
	margin-right: 5px;
}

#bbp_search,
#ts,
#rs {
	width: 140px;
	margin-top: -1px;
	margin-right: 8px;
	padding: 5px;
}

.sidebar li {
	list-style: none !important;
}

.sidebar .bbpress-wrapper {
	font-size: 1em;
	margin-bottom: 0;
}

.sidebar .bbp-breadcrumb {
	display: none;
}

.sidebar input[type="submit"] {
	font-size: 0.8em;
	font-weight: 400;
	padding: 0.4em 0.8em;
}

.sidebar .bbp-forums .bbp-forum-info {
	width: 80%;
}

.sidebar .bbp-forums .bbp-forum-topic-count {
	width: 20%;
}

.sidebar .forum-info,
.sidebar .topic-info {
	font-size: 1em;
}

.sidebar li.bbp-header ul.forum-titles {
	font-size: 1em;
}

.sidebar li.bbp-body li.bbp-forum-info {
	font-size: 1.25em;
}

.sidebar li.bbp-header {
	background-color: #f5f5f5;
	color: #000;
}

.sidebar .widget > ul {
	margin: 0 0 24px 0;
}

.sidebar .widget > ul li.bbp-header ul.forum-titles,
.sidebar .widget > ul li.bbp-body ul.forum {
	margin: 0;
	padding-bottom: 0;
}

.sidebar .tag-cloud-link {
	font-size: 0.9em !important;
	margin-right: 1em;
}

.sidebar .topic-tags li {
	display: inline-block;
	margin-right: 1.5em;
}

.sidebar .forum-info li,
.sidebar .topic-admin-links li,
.sidebar .topic-info li,
.sidebar .bbp-view-links li,
.sidebar .forum-feeds li {
	border-bottom: dotted 1px #c7d6e4;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.sidebar li.topic-resolved form label {
	width: auto;
}

.sidebar li.topic-resolved form select {
	background: #fff url(images/angle-down.jpg) no-repeat;
	background-position: right 5px top 12px;
	background-size: 12px;
	padding: 5px;
	width: 200px;
}

.sidebar li.topic-resolved form input[type="submit"] {
	margin-top: 10px;
	margin-left: 80px;
	padding: 4px;
}

@media (max-width: 800px) {
	.sidebar li.topic-resolved form input[type="submit"] {
		margin-top: 0;
		margin-left: 20px;
	}
}

.sidebar .widget .topic-admin-links li:before {
	content: "\f109";
	padding-top: 0.3em;
}

.sidebar .widget a.feed:before {
	content: "\f303";
	color: #004040;
}

.sidebar .widget a.bbp-view-title:before {
	content: "\f109";
	color: #004040;
}

.sidebar .widget .forum-info li.topic-count:before {
	content: "\f450";
}

.sidebar .widget .topic-info li.topic-parent:before,
.sidebar .widget .topic-info li.topic-forum:before {
	content: "\f449";
}

.sidebar .widget .topic-info li.voice-count:before {
	content: "\f307";
}

.sidebar .widget .topic-info li.reply-count:before,
.sidebar .widget .forum-info li.reply-count:before {
	content: "\f451";
}

.sidebar .widget .topic-info li.topic-freshness-author:before,
.sidebar .widget .forum-info li.forum-freshness-author:before {
	content: "\f338";
}

.sidebar .widget .topic-info li.topic-freshness-time:before,
.sidebar .widget .forum-info li.forum-freshness-time:before {
	content: "\f469";
}

.sidebar .widget .forum-info li.forum-subscribe:before,
.sidebar .widget .topic-info li.topic-subscribe:before {
	content: "\f465";
}

.sidebar .widget .topic-info li.topic-favorite:before {
	content: "\f155";
}

.sidebar .widget .topic-info li.topic-resolved label:before {
	content: "\f463";
	vertical-align: middle;
}
