/*--------------------------------------------------------------
>> codex.BuddyPress.org Stylesheet
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Parent Theme Overrides
--------------------------------------------------------------*/
body pre,
body table thead,
table tr:nth-child(even) {
	background: #f5f4f0;
}

body table td {
	border-bottom-color: #f5f4f0;
}

#hero-pager li {
	opacity: 1;
}

.hero-posts .entry-title a:hover {
	opacity: 1;
}

#secondary-navigation ul li.current-menu-item {
	border-bottom: 4px solid #FFF;
}

#menu-global-header > li:first-of-type a {
	padding: 8px 0;
}

#menu-global-header > li:first-of-type img {
	width: 3.4rem;
	vertical-align: middle;
}

body .drawer {
	background: #f5f4f0;
}

.site-identity {
	background-color: #fff;
}

.top-navigation {
	background-color: #d34600;
	color: #fff;
	opacity: 1 !important;
}

.top-navigation a {
	color: #fff !important;
	font-weight: 300;
	opacity: 1 !important;
}

.top-navigation a:active, .top-navigation a:focus, .top-navigation a:hover {
	color: #fff !important;
	text-decoration: underline;
	transition: 0.2s ease-in-out;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

.main-navigation .sub-menu,
.main-navigation .children {
	background: #d34600;
}

.site-identity .main-navigation li li:focus, .site-identity .main-navigation li li:hover {
	background: #004040;
	transition: 0.1s  ease-in-out;
}

.page .site-content {
	padding-bottom: 0;
	padding-top: 0;
}

.site-content .entry-title {
	font-size: 42px;
	margin-bottom: 0;
}

@media (max-width: 600px) {
	.site-content .entry-title {
		font-size: 30px;
	}
}

.site-content .entry-header {
	margin-bottom: 1.4em;
}

.site-content .form-title {
	font-size: 30px;
}

@media (max-width: 600px) {
	.site-content .form-title {
		font-size: 24px;
	}
}

.site-content a {
	color: #d34600;
}

.site-content a:hover {
	color: #004040;
}

.entry-content a:not([class*="button"]) {
	color: #d34600;
	border-bottom: 1px solid #d84800;
}

.entry-content a:not([class*="button"]):active, .entry-content a:not([class*="button"]):hover, .entry-content a:not([class*="button"]):focus {
	border-bottom: 1px solid #004040;
	color: #004040;
}

@media (max-width: 800px) {
	.widget-area {
		background: #fff;
		border: 1px solid #ddd;
	}
}

.post-navigation .nav-label {
	background: #d34600;
}

.about-team {
	background: #f7f7f7;
	border: 1px solid #ddd;
	float: right;
	font-size: 0.8em;
	margin: -2em 0 10px 20px;
	padding: 10px 10px 0;
	width: 25%;
}

@media (max-width: 800px) {
	.about-team {
		float: none;
		width: 100%;
	}
}

.about-team a {
	color: #c94200;
}

.about-team h2 {
	clear: none;
	font-size: 20px;
}

.about-page {
	display: inline-block;
	width: 70%;
}

@media (max-width: 800px) {
	.about-page {
		display: block;
		width: 100%;
	}
}

.site-footer {
	background-color: #fff;
	border-top: 1px solid #eee;
}

.site-footer a {
	color: #d34600;
}

.site-footer a:active, .site-footer a:hover, .site-footer a:focus {
	color: #004040;
	text-decoration: underline;
	transition: 0.2s ease-in-out;
}

.sidebar {
	display: inline-block;
	float: right;
	font-size: 16px;
	margin-bottom: 0;
	position: relative;
	vertical-align: top;
	width: 25%;
	-webkit-backface-visibility: hidden;
}

@media (max-width: 800px) {
	.sidebar {
		border: 1px solid #ddd;
		float: none;
		margin-top: 8%;
		padding: 5%;
		width: 100%;
	}
}

@media (max-width: 600px) {
	.sidebar {
		margin-bottom: 35px;
	}
}

.sidebar .widget {
	margin-bottom: 45px;
}

@media (max-width: 800px) {
	.sidebar .widget {
		margin-bottom: 35px;
	}
}

.sidebar .widget-title,
.sidebar .widgettittle {
	font-size: 20px;
	line-height: 1.6;
	position: relative;
	margin-bottom: 20px;
}

.sidebar .textwidget p {
	margin-bottom: 15px;
}

.sidebar aside ul {
	margin: 0 0 0 0;
}

.sidebar aside ul.sub-menu,
.sidebar aside .children {
	margin: 4% 0 0 20px;
}

.sidebar aside ul.sub-menu li:last-child,
.sidebar aside .children li:last-child {
	margin-bottom: 0;
	padding-bottom: 2%;
	border-bottom: none;
}

.sidebar aside li {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: dotted 1px #C7D6E4;
	list-style: none;
	position: relative;
}

.sidebar aside li:before {
	font-family: "dashicons";
	position: absolute;
	left: -18px;
	top: 3px;
	color: #A1B0BD;
	font-size: 12px;
	display: none;
}

.sidebar aside li ul li {
	list-style: circle;
}

.sidebar aside li:last-child {
	margin-bottom: 0;
	border-bottom: none;
	padding-bottom: 0;
}

/*--------------------------------------------------------------
# Codex Site
--------------------------------------------------------------*/
.page-template .site-content {
	position: relative;
}

.page-template .content-has-left-sidebar {
	display: inline-block;
	float: right;
	width: 70%;
}

.page-template .content-has-left-sidebar pre {
	margin-top: 1em;
}

.page-template .content-has-left-sidebar .type-page {
	margin-bottom: 0;
}

@media (max-width: 800px) {
	.page-template .content-has-left-sidebar {
		clear: both;
		display: block;
		float: none;
		width: 100%;
	}
}

.page-template-page-codex-articles .site-content {
	padding: 0;
}

.footer-meta-wrap {
	background: #343e47;
	border-top: 2px solid #eee;
	border-bottom: 1px solid #eee;
	color: #ccc;
}

.footer-meta-wrap .footer-meta {
	margin: 0 auto;
	width: 100%;
	padding: 1.5em 5% 0;
	overflow: auto;
}

.footer-meta-wrap .footer-meta .col-half {
	float: left;
	width: 50%;
}

.footer-meta-wrap .footer-meta .col-half p {
	font-size: 0.9em;
	margin-bottom: 1.5em;
}

.footer-meta-wrap .footer-meta .col-half p.date {
	font-size: 0.8em;
}

.footer-meta-wrap .footer-meta .col-half a {
	color: #ccc;
	text-decoration: underline;
}

.footer-meta-wrap .footer-meta .col-half a:hover, .footer-meta-wrap .footer-meta .col-half a:focus {
	text-decoration: none;
	transition: 1s ease-in-out;
}

@media (max-width: 800px) {
	.footer-meta-wrap .footer-meta .col-half {
		float: none;
		width: 100%;
	}
	.footer-meta-wrap .footer-meta .col-half p.date {
		font-size: 0.9em;
		margin-bottom: 1.5em;
	}
}

.footer-meta-wrap .footer-meta h3.title {
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	margin: 0 0 1em;
	text-transform: uppercase;
}

.footer-meta-wrap .footer-meta .contributors {
	min-height: 52px;
	overflow: visible;
}

.footer-meta-wrap .footer-meta .contributor {
	float: left;
	width: 48px;
	height: 52px;
	margin-right: 20px;
}

.footer-meta-wrap .footer-meta a:hover img {
	border: none !important;
}

.footer-meta-wrap .footer-meta .date {
	margin-top: 1em;
	font-weight: 200;
}

.footer-meta-wrap .footer-meta .contributor-avatar {
	position: relative;
	width: 48px;
	height: 48px;
}

.footer-meta-wrap .footer-meta .contributor-avatar .revision-count {
	position: absolute;
	right: -4px;
	bottom: -4px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-size: 11px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #d34600;
	color: #fff;
	z-index: 1;
}

.footer-meta-wrap .footer-meta .contributor-avatar .contributor-name {
	display: none;
	position: absolute;
	left: -76px;
	top: 12px;
	width: 200px;
	z-index: 3;
	text-align: center;
}

.footer-meta-wrap .footer-meta .contributor-avatar .contributor-name span {
	color: #fff;
	font-size: 12px;
	padding: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: #000;
}

.footer-meta-wrap .footer-meta .contributor-avatar .contributor-name:hover {
	z-index: 2;
}

.footer-meta-wrap .footer-meta .contributor-avatar:hover .contributor-name {
	display: block;
}

.footer-meta-wrap .footer-meta .contributor-avatar img {
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	border-radius: 24px;
}

.page-template .left-widget-area {
	display: inline-block;
	width: 25%;
	float: left;
	font-size: 16px;
	margin-top: 0.5em;
}

@media (max-width: 800px) {
	.page-template .left-widget-area {
		display: block;
		float: none;
		top: 10px;
		left: 10px;
		width: 100%;
	}
}

.sidebar nav ul {
	list-style: none;
	margin-left: 0;
}

.sidebar nav ul li {
	border-top: 1px solid #ddd;
	padding: 0.7em 0.7em;
}

.sidebar nav ul li li {
	padding-left: 1.5em;
}

.table-of-contents-widget {
	position: relative;
	margin-top: 73px;
	margin-bottom: 20px;
	padding: 5px 10px;
	background: #eee;
	border: 1px solid #ddd;
}

.table-of-contents-widget ul {
	padding: 0;
	margin: 0;
}

.table-of-contents-widget li {
	list-style: none;
	border-top: 1px solid #ddd;
	padding: 7px 0;
}

.table-of-contents-widget li:first-child {
	border-top: 0;
}

.table-of-contents-widget:before {
	position: absolute;
	content: "";
	top: 0;
	left: -11px;
	width: 0;
	height: 0;
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}

.user-widget {
	margin: 20px 0;
	padding: 5px 10px;
	background: #fff;
}

.user-widget ul {
	padding: 0;
	margin: 0;
}

.user-widget li {
	list-style: none;
	padding: 7px 0;
}

.user-widget li:first-child {
	border-top: 0;
}

.search-widget {
	margin: 20px 0;
	box-sizing: border-box;
	background: #fff;
}

.search-widget input[type=text] {
	display: block;
	width: 100%;
	padding: 12px 17px;
	border: 1px solid #ddd;
}
