/*
Theme Name: Paperback
Theme URI: https://arraythemes.com/themes/paperback-wordpress-theme/
Author: Array
Author URI: https://arraythemes.com/
Description: Paperback is a magazine-style theme that empowers you to quickly and easily create beautiful, immersive content with images, galleries, video, audio and more. Make your content even more engaging and discoverable with the featured post carousel and category mega menu.
Version: 1.7.7
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: paperback
Domain Path: /languages/
Tags: light, white, one-column, two-columns, three-columns, fluid-layout, responsive-layout, custom-colors, custom-menu, editor-style, featured-images, infinite-scroll, theme-options, translation-ready, post-slider, blog, photography, magazine, news, photoblogging, clean, minimal, modern, design, art, simple, travel, professional, contemporary, site-logo

(C) 2015 Array, Inc.
*/

/* --------------------------------------------------------------
TABLE OF CONTENTS
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Form Elements
5.0 - Navigation
5.1 - Links
5.2 - Menus
5.3 - Social Menu
5.4 - Post Navigation
5.5 - Page Navigation
5.6 - Toggle Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Comments
11.0 - Infinite scroll
12.0 - Masonry
13.0 - Hero Posts
14.0 - Featured Posts
13.0 - Media
14.0 - Header
15.0 - Content
16.0 - Posts
17.0 - Footer
18.0 - Attachments
19.0 - Animations
-------------------------------------------------------------- */

/* Import Paperback Sass Variables (inc/sass/variables.scss) */
@import 'variables';

/* --------------------------------------------------------------
1.0 - Reset
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;

	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	font-size: 62.5%;
	overflow-y: scroll;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	background: #fff;

	@include viewport(tablet) {
		overflow-y: scroll;
		overflow-x: hidden;
	}
}

*, *:before, *:after {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block
}

table {
	/* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	font-weight: normal;
	text-align: left;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

a img {
	border: 0;
}

/* --------------------------------------------------------------
2.0 Typography
-------------------------------------------------------------- */

body, button {
	color: $black;
	font-family: $body;
	font-weight: 400;
	font-size: 19px;
	line-height: 1.7;

	@include viewport(tablet) {
		font-size: 17px;
	}

	@include viewport(mobile) {
		font-size: 15px;
	}

	.wf-loading &,
	.wf-active & {
		font-size: 20px;
		line-height: 1.6;

		@include viewport(tablet) {
			font-size: 18px;
		}

		@include viewport(mobile) {
			font-size: 16px;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
	color: $black;
	font-family: $title;
	font-weight: 400;
	line-height: 1.2;
	margin-bottom: 3%;
}

/* Fallback title styles */

h1 {
	font-size: 60px;

	@include viewport(mobile) {
		font-size: 44px;
	}
}

h2 {
	font-size: 50px;

	@include viewport(mobile) {
		font-size: 38px;
	}
}

h3 {
	font-size: 40px;

	@include viewport(mobile) {
		font-size: 28px;
	}
}

h4 {
	font-size: 30px;

	@include viewport(mobile) {
		font-size: 24px;
	}
}

h5 {
	font-size: 20px;

	@include viewport(mobile) {
		font-size: 20px;
	}
}

h6 {
	font-size: 16px;

	@include viewport(mobile) {
		font-size: 16px;
	}
}

p, .embed-vimeo {
	margin-bottom: 1.4em;

	@include viewport(mobile) {
		margin-bottom: 1.2em;
	}
}

b, strong {
	font-weight: bold;
}

dfn, cite, em, i {
	font-style: italic;
}

.dropcap {
	float: left;
    padding: 0;
    position: relative;
    color: #343e47;
    text-align: center;
    height: 80px;
    font-family: $title;
    font-weight: 700;
    font-size: 105px;
    line-height: .9;
    margin: 0 12px 10px 0;

	@include viewport(mobile) {
		font-size: 95px;
	}

	@include viewport(mobile) {
		font-size: 84px;
	}

	&:first-letter {

	}
}

blockquote {
	color: $black;
	font-family: $title;
	font-size: 22px;
	line-height: 1.6;
	margin: 1em 0 1.4em 0;
	position: relative;
	padding: 20px 0 0 8%;
	border-top: solid 4px #343E47;

	&:before {
		content: "\201C";
		font-family: 'georgia';
		position: absolute;
		left: 0;
		font-size: 60px;
		width: 30px;
		top: 25px;
		line-height: 1;
	}

	@include viewport(mobile) {
		font-size: 20px;
		line-height: 1.5;
		padding-left: 12%;

		&:before {
			font-style: 52px;
			top: 21px;
		}
	}

	p {
		margin-bottom: 1em;
	}
}

.comments-area blockquote {
	border-left-color: #D7DEE5;
	font-family: $body;
	font-size: 18px;
	font-style: italic;

	@include viewport(tablet) {
		font-size: 16px;
	}
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eaf1f5;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

.comments-area pre {
	background: #d7dee5;
}

code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

sup, sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

.highlight {
	background: #fff198;
}

#page .more-link {
	font-weight: 700;

	&:after {
		content: " \2192";
	}
}

/* --------------------------------------------------------------
3.0 Elements
-------------------------------------------------------------- */

hr {
	background-color: transparent;
	border: 0;
	border-bottom: dotted 1px #c7d6e4;
	height: 1px;
	margin: 1.6em 0;
}

ul, ol {
	margin: 0 0 1.4em 20px;
}

ul {
	list-style: square;
}

ol {
	list-style: decimal
}

ul ul, ol ol, ul ol, ol ul {
	margin: .6em 0 .6em 1.5em;
}

nav .sub-menu,
.main-navigation .children {
	display: none;
}

.hide-sub {
	display: none !important;
}

.hide-menu {
	visibility: hidden;
}

.entry-content li {
	margin-bottom: 2%;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	max-width: 100%;
}

figure {
	margin: 0;
}

/* Tables */
table {
	font-size: 18px;
	margin-bottom: 5%;
	padding: 0;
	width: 100%;
}

table thead {
	background: #eaf1f5;
	th {
		font-weight: bold;
	}
}

table td, #content table th {
	padding: 10px;
}

table td {
	border-bottom: solid 1px #eaf1f5;
}

table tr:last-child td {
	border-bottom: none;
}

table tr:nth-child(even) {
	background: #eaf1f5;
}

/* --------------------------------------------------------------
4.0 Form Elements
-------------------------------------------------------------- */

button,
input:not(input[type="radio"]),
input:not(input[type="checkbox"]),
textarea {
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	-webkit-appearance: none;
	box-sizing: border-box;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
.edd-submit.button,
#edd-purchase-button,
.widget_edd_cart_widget .edd_checkout a,
.comment-navigation a,
.drawer .tax-widget a,
.su-button,
.wpforms-submit {
	background: #424A55;
	border: none;
	border-radius: 3px;
	color: #fff;
	font-family: $body;
	font-size: 18px;
	font-weight: 400;
	padding: 14px 20px;
	-webkit-appearance: none;
	transition: .2s ease-in-out;

	@include viewport(mobile) {
		padding: 10px 16px;
	}
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:hover,
.edd-submit.button:hover,
#edd-purchase-button:hover,
.widget_edd_cart_widget .edd_checkout a:hover,
.comment-navigation a:hover,
.drawer .tax-widget a:hover,
.wpforms-submit:hover {
	background: #424A55;
	box-shadow: inset 0 0 80px rgba(255, 255, 255, 0.15);
	color: #fff;
	cursor: pointer;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:active,
.button:focus,
.comment-navigation a:focus,
.comment-navigation a:hover
.drawer .tax-widget a:focus,
.drawer .tax-widget a:hover,
.wpforms-submit:active,
.wpforms-submit:focus {
	color: #fff;
	outline: none;
}

input[type="radio"] + label,
input[type="checkbox"] + label,
label ~ input[type="checkbox"] {
	width: auto;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

.searchform {
	position: relative;
}

.searchform #s {
	width: 100%;
	font-size: 16px;
}

.searchform #searchsubmit {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	background: transparent;
	color: #627083;
	padding: 14px 15px;
	font-size: 15px;

	&:hover {
		color: $black;
	}

	i {
		-webkit-font-smoothing: antialiased;
		line-height: 1.3;
		font-size: 16px;
		vertical-align: top;
	}
}

@include viewport(tablet) {
	.searchform #searchsubmit span {
		display: none;
	}
}

.widget-area .searchform #searchsubmit span {
	display: none;
}

/* Mobile search form */

.site-header .searchform {
	display: none;
	width: 100%;
	margin-top: 5%;
}

.site-header .searchform #s {
	border: none;
}

.mobile-overlay.mobile-active .searchform {
	display: inline-block;
}

form {
	font-size: 17px;
	display: inline-block;
	width: 100%;

	@include viewport(tablet) {
		font-style: 15px;
	}
}

.field-wrap {
	margin-bottom: 1.4em;

	@include viewport(tablet) {
		margin-bottom: 1em;
	}
}

select {
	padding-right: 45px;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	width: 100%;
	-webkit-appearance: normal;
	box-sizing: border-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="tel"],
input[type="time"],
input[type="month"],
input[type="tel"],
#edd_checkout_form_wrap input[type=text],
#edd_checkout_form_wrap input[type=email],
#edd_checkout_form_wrap input[type=password],
#edd_checkout_form_wrap textarea,
textarea,
select {
	color: #7c8a96;
	background: #fff;
	box-sizing: border-box;
	-webkit-appearance: none;
	padding: 15px;
	border: solid 1px #D4DDE5;
	transition: .1s ease-in-out;
	border-radius: 2px;
	font-size: 17px;
	width: 75%;

	@include viewport(tablet) {
		width: 100%;
		padding: 12px 10px;
		font-size: 15px;
	}
}

input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="week"],
input[type="tel"],
input[type="time"],
input[type="month"],
input[type="tel"] {
	width: auto;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: inset 0 0 4px 2px #F4F8FB;
	border-color: #D4DEE6;
	color: $black;
}

select {
	background: #fff url('images/angle-down.jpg') right no-repeat;
	background-size: 12px;
	background-position: right 15px top 20px;

	&:hover {
		border-color: #D5DDE4;
		cursor: pointer;
	}

	@include viewport(tablet) {
		background-position: right 15px top 17px;
	}
}

select:after {
	content: "x";
}

select[multiple] {
	background: none;
}

@include viewport(tablet) {
	input[name="post_password"] {
		display: inline-block;
		margin-bottom: 10px;
		width: 100%;
	}
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding: 10px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
}

fieldset legend {
	border-bottom: dotted 1px #d4dde5;
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 20px;
}

form label {
	display: inline-block;
	width: 100%;
}

::-webkit-input-placeholder {
	color: #97A7B5;
}

:-moz-placeholder {
	color: #97A7B5;
}

::-moz-placeholder {
	color: #97A7B5;
}

:-ms-input-placeholder {
	color: #97A7B5;
}

#main .contact-form {
	display: inline-block;
	width: 100%;
	margin-bottom: 1.4em;

	label {
		font-weight: normal;
	}

	input[type='text'], input[type='email'] {
		margin-bottom: 4%;
		width: 100%;
		max-width: 100%;
	}

	textarea {
		margin-bottom: 4%;
		width: 100%;
	}

	.contact-submit {
		margin-bottom: 0;
	}
}

/* --------------------------------------------------------------
5.0 Navigation
-------------------------------------------------------------- */

/* --------------------------------------------------------------
5.1 Links
-------------------------------------------------------------- */

a {
	color: #62707c;
	text-decoration: none;

}

a:hover, a:focus, a:active {
	color: #343E47;
}

/* --------------------------------------------------------------
5.2 Menus
-------------------------------------------------------------- */

.drawer-toggle {
	display: inline-block;
	padding: 16px 0;
	margin-left: 10px;
	padding-left: 10px;
	font-size: 14px;
	line-height: 1.4;
	text-align: center;
	width: 95px;
	height: 100%;
	-webkit-user-select: none;
	color: #fff;
	opacity: .8;
	transition: .2s ease-in-out;

	&:hover {
		opacity: 1;
	}

	@include viewport(tablet) {
		width: auto;
		border-left: 0;
		margin-left: 0;
		font-size: 16px;
		padding-left: 0;
	}

	@include viewport(mobile) {
	}

	span:not(:first-child) {
		display: none;
	}

	i {
		margin-right: 2px;
		text-align: center;
	}

	i.fa-times {
		margin-right: 0;
	}

	&:hover {
		cursor: pointer;
		color: #fff;
	}
}

.social-navigation + .drawer-toggle {
	border-left: dotted 1px rgba(255,255,255,.25);

	@include viewport(tablet) {
		border-left: none;
	}
}

.drawer-menu-toggle {
	display: none;

	@include viewport(tablet) {
		display: inline-block;
	}
}

@include viewport(tablet) {
	.drawer-open-toggle {
		float: right;
		padding-right: 0;
		padding-left: 10px;
		background: none;
		width: auto;
	}
}

.drawer-toggle-switch {
	span:first-child {
		display: none;
	}

	span:last-child {
		display: block;
	}
}

.main-navigation {
	font-size: 18px;
	font-family: $title;
	display: inline-block;
	width: 70%;
	vertical-align: top;

	@include viewport(tablet) {
		display: none;
	}
}

.site-identity .main-navigation {
	float: right;
	text-align: right;
}

.site-header .container {
	display: block;
}

.top-navigation {
	background: #343e47;
	display: inline-block;
	width: 100%;
	position: relative;
    z-index: 10;
}

.top-navigation-right {
	float: right;
	display: inline-block;

	@include viewport(tablet) {
		float: none;
		margin-left: 0;
		width: 100%;
	}
}

#secondary-navigation {
	display: inline-block;
	width: 60%;
}

.top-navigation .sub-menu {
	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.2);
}

.top-navigation nav .sub-menu li:not(:last-child) {
	border-bottom: dotted 1px rgba(255,255,255,.3);
}

.top-navigation nav a {
	color: #fff;
	opacity: .8;

	&:hover {
		opacity: 1;
		color: #fff;
	}
}

.top-navigation nav li.current-menu-item a {
	opacity: 1;
}

.drawer #secondary-navigation {
	width: 100%;
	font-size: 14px;

	.menu-item-has-children .toggle-sub {
		font-size: 17px;
	}

	li ul li a {
		font-size: 14px;
	}
}

@include viewport(tablet) {
	.top-navigation #secondary-navigation {
		display: none;
	}
}

.top-navigation .secondary-navigation ul li {
	font-size: 14px;
	margin-right: 15px;
	padding: 0;

	a {
		padding: 12px 0;
		border-bottom-width: 0;
		margin: 0;
	}

	.sub-menu a {
		padding: 12px 15px;
	}
}

.secondary-navigation ul.sub-menu {
	background: #343e47;
	top: 52px;
	left: -15px;
	border: none;

	li {
		margin-right: 0;
		padding: 0;
	}

	li a {
		font-size: 14px;

		&:hover {
			color: #fff;
			opacity: 1;
		}
	}
}

.main-navigation a {
	color: $black;

	&:hover {
		color: $gray;
	}
}

.main-navigation ul {
	margin: 0;

	li {
		display: inline-block;
		font-weight: normal;
		list-style-type: none;
		margin: 0;
		padding: 0 15px;
		position: relative;

		a {
			display: inline-block;
			margin-bottom: 15px;
			transition: .1s ease-in-out;
			line-height: 2;
			border-bottom: solid 2px transparent;

			&:active,
			&:focus {
				outline: none;
			}
		}
	}
}

.site-identity .main-navigation ul {
	line-height: 3;
}

.main-navigation:not(.secondary-navigation) ul.menu > li.current-menu-item > a {
	border-bottom-color: #f35245;
}

.sub-menu li.current-menu-item > a {
	border-bottom: dotted 1px rgba(255,255,255,.2);
	color: #fff;
}

.site-header .menu-item-has-children,
.site-header .page_item_has_children {
	transition: .1s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: relative;

	a {
		position: relative;
	}

	&> a:after {
		content: "\f107";
		font-family: "FontAwesome";
		padding-left: 5px;
		right: 0;

		@include viewport(tablet) {
			display: none;
			pointer-events: none;
		}
	}
}

.sub-menu .menu-item-has-children,
.sub-menu .page_item_has_children {
	&> a:after {
		content: "\f105";
		font-family: "FontAwesome";
	}
}

.widget .sub-menu .menu-item-has-children,
.widget .sub-menu .page_item_has_children {
	&> a:after {
		display: none;
	}
}

.secondary-navigation .menu-item-has-children,
.secondary-navigation .page_item_has_children {
	&:after {
		color: #a6b5c1;
		top: 15px;
	}
}

.drawer .menu-item-has-children .toggle-sub {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	padding: 14px 0;
	line-height: 1.4;
	text-align: center;
	z-index: 75;
	display: block;
	font-size: 20px;
	color: rgba(255,255,255,.8);
	cursor: pointer;
	background: none;

	&:hover {
		box-shadow: none;
		color: rgba(255,255,255,1);
	}
}

.drawer .main-navigation .drop-open ul.drop-active {
	display: block;
}

.site-header .menu-item-has-children:hover {
	cursor: pointer;
}

.main-navigation .sub-menu,
.main-navigation .children {
    position: absolute;
    width: 200px;
    top: 53px;
    left: -5px;
	text-align: left;
	margin: 0;
	background: $black;
	z-index: 100;

	&:before {
		width: 0;
		height: 0;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 5px solid $black;
		position: absolute;
		top: -5px;
		left: 20px;
		content: " ";
		display: none;

		@include viewport(tablet) {
			display: none;
		}
	}
}

.main-navigation .sub-menu ul {
	box-shadow: inset 7px 0 9px -7px rgba(0,0,0,0.2);
}

.main-navigation li ul {
	z-index: 100;
}

.main-navigation li ul li {
	padding: 0;
	width: 100%;
}

.main-navigation li ul a,
.main-navigation li ul li a {
    width: 100%;
    display: inline-block;
    border-bottom: dotted 1px rgba(255,255,255,.2);
    padding: 15px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
    line-height: 1.6;
    color: rgba(255,255,255,.8);
}

.main-navigation li ul a:hover,
.main-navigation li ul li a:hover {
	color: #fff;
}

.site-header .sub-menu li:last-child > a,
.site-header .children li:last-child > a {
	border-bottom: none;
}

.main-navigation li ul li ul {
    padding: 0;
}

.main-navigation ul ul {
	top: 0;
}

.main-navigation li ul ul.sub-menu,
.main-navigation li ul ul.children {
    left: 200px;
    top: 0;
    margin: 0;
    z-index: 20;
    position: absolute;

    &:before {
		display: none;
	}
}

.site-identity .main-navigation li:hover > ul,
.site-identity .main-navigation li li a:hover > ul,
.top-navigation .main-navigation li:hover > ul,
.top-navigation .main-navigation li li a:hover > ul {
	display: block;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

/* Mobile navigation */

.drawer .main-navigation {
	width: 100%;
	max-width: 100%;
	background: none;
	border-bottom: solid 4px $black;
	z-index: 40;
	position: relative;

	@include viewport(tablet) {
		font-size: 17px;
		display: inline-block;
	}

	ul li {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
		border-bottom: dotted 1px rgba(255, 255, 255, 0.2);
		transition: none;
		position: relative;
		z-index: 50;

		&:last-child {
			border-bottom: none;
		}
	}

	ul li a {
		padding: 15px 10px 15px 0;
		margin-bottom: 0;
		margin-left: 0;
		border-bottom: none;
		position: relative;
		transition: none;
	}

	a {
		color: rgba(255,255,255,.8);
		padding-left: 0;
		line-height: 1.4;

		&:hover {
			color: rgba(255,255,255,1);
			opacity: 1;
		}
	}

	ul > li.current-menu-item > a {
		color: rgba(255,255,255,1);
	}

	.sub-menu, .children {
		display: none;
		position: relative;
		width: 100%;
		left: 0;
		top: auto;
		padding-left: 15px;
		border: none;
		background: transparent;
		box-shadow: none;
	}

	li ul a,
	li ul li a {
		font-size: 18px;
		padding: 15px 0;
	}

	.sub-menu li:first-child {
		border-top: dotted 1px rgba(255, 255, 255, 0.3);
	}
}

.drawer nav {
	padding: 2% 5%;

	@include viewport(mobile) {
		padding: 5% 15px;
	}
}

.main-navigation.drawer-navigation {
	background: #2B343C;
}

/* --------------------------------------------------------------
5.3 Social Navigations
-------------------------------------------------------------- */

.social-navigation {
	display: inline-block;
	vertical-align: top;

	@include viewport(tablet) {
		float: none;
		width: 100%;
		display: none;
	}

	ul {
		list-style: none;
		margin: 0;
	}

	li {
		display: inline;
		font-size: 14px;
	}

	a {
		transition: .1s ease-in-out;
		padding: 0 8px;
	}

	a:after {
		display: none;
	}

	a:before {
		font-size: 16px;
		font-family: 'FontAwesome';
		border-radius: 50px;
		padding: 18px 0;
		display: inline-block;
		text-align: center;
		line-height: 1;
		-webkit-font-smoothing: antialiased;

		@include viewport(tablet) {
			color: $black;
			font-size: 22px;
		}
	}

	a:hover:before {
		@include viewport(tablet) {
			color: $gray;
		}
	}

	@include viewport(tablet) {
		a {
			margin-bottom: 10px;
			display: inline-block;
		}
	}

	a[href*="twitter.com"] {
		font-size: 0;

		&:before {
			content: "\f099";
		}
	}

	a[href*="tumblr.com"] {
		font-size: 0;

		&:before {
			content: "\f173";
		}
	}

	a[href*="facebook.com"] {
		font-size: 0;

		&:before {
			content: "\f09a";
		}
	}

	a[href*="google.com"] {
		font-size: 0;

		&:before {
			content: "\f0d5";
		}
	}

	a[href*="instagram.com"] {
		font-size: 0;

		&:before {
			content: "\f16d";
		}
	}

	a[href*="youtube.com"] {
		font-size: 0;

		&:before {
			content: "\f167";
		}
	}

	a[href*="vimeo.com"] {
		font-size: 0;

		&:before {
			content: "\f194";
		}
	}

	a[href*="dribbble.com"] {
		font-size: 0;

		&:before {
			content: "\f17d";
			line-height: 17px;
		}
	}

	a[href*="github.com"] {
		font-size: 0;

		&:before {
			content: "\f113";
		}
	}

	a[href*="flickr.com"] {
		font-size: 0;

		&:before {
			content: "\f16e";
		}
	}

	a[href*="codepen.com"] {
		font-size: 0;

		&:before {
			content: "\f1cb";
		}
	}

	a[href*="behance.com"] {
		font-size: 0;

		&:before {
			content: "\f1b4";
		}
	}

	a[href*="dropbox.com"] {
		font-size: 0;

		&:before {
			content: "\f16b";
		}
	}

	a[href*="pinterest.com"] {
		font-size: 0;

		&:before {
			content: "\f231";
		}
	}

	a[href*="reddit.com"] {
		font-size: 0;

		&:before {
			content: "\f1a1";
		}
	}

	a[href*="soundcloud.com"] {
		font-size: 0;

		&:before {
			content: "\f1be";
		}
	}

	a[href*="spotify.com"] {
		font-size: 0;

		&:before {
			content: "\f1bc";
		}
	}

	a[href*="wordpress.com"] {
		font-size: 0;

		&:before {
			content: "\f19a";
		}
	}

	a[href*="mailto"] {
		font-size: 0;

		&:before {
			content: "\f0e0";
			text-indent: -1px;
			font-size: 16px;
		}
	}

	a[href*="linkedin.com"] {
		font-size: 0;

		&:before {
			content: "\f0e1";
		}
	}

	a[href*="stackoverflow.com"] {
		font-size: 0;

		&:before {
			content: "\f16c";
		}
	}

	a[href*="vk.com"] {
		font-size: 0;

		&:before {
			content: "\f189";
		}
	}

	a[href*="yahoo.com"] {
		font-size: 0;

		&:before {
			content: "\f19e";
		}
	}

	a[href*="slideshare.com"] {
		font-size: 0;

		&:before {
			content: "\f1e7";
		}
	}

	a[href*="medium.com"] {
		font-size: 0;

		&:before {
			content: "\f23a";
		}
	}

	a[href*="rss"],
	a[href*="feed="],
	a[href*="/feed"] {
		font-size: 0;

		&:before {
			content: "\f09e";
			text-indent: 1px;
		}
	}
}

.share-comment {
	display: inline-block;
	width: 100%;
	margin-top: 7%;

	@include viewport(tablet) {
		margin-top: 5%;
	}

	@include viewport(mobile) {
		margin-top: 10%;
	}
}

.page .share-comment {
	margin-top: 4%;
}

.share-icons.closed {
	float: none;
}

.share-icons {
	display: inline-block;
	float: right;

	@media only screen and (max-width:1040px) {
		float: none;
		width: 100%;
		margin-bottom: 4%;
	}

	@include viewport(tablet) {
		margin-bottom: 6%;
	}

	@include viewport(mobile) {
		margin-bottom: 10%;
	}
}

.share-icons:empty {
	display: none;
}

.show .share-icons {
	float: none;
}

.sharedaddy .sd-content ul {
	margin-bottom: 0 !important;
}

.sharedaddy .sd-title {
	margin-bottom: 5px !important;
	display: block !important;
	font-size: 11px !important;
	text-transform: uppercase;
	letter-spacing: 1px;
}

div.sharedaddy h3.sd-title:before {
	display: none !important;
}

.author-profile {
	background: #ecf1f7;
	padding: 3%;
	position: relative;

	@include viewport(mobile) {
		padding: 5%;
	}

	&:before {
		content: "";
		position: absolute;
		bottom: 0;
		right: 0;
		border-width: 16px 16px 0 0;
		border-style: solid;
		border-color: #B9C5D0 #fff;
	}
}

.archive .author-profile {
	margin-bottom: 6%;
}

.author-profile-avatar {
	display: block;
	margin: 0 auto;

	img {
		border-radius: 100px;
	}
}

.author-profile-avatar {
	position: absolute;
}

.author-profile-info {
	padding: 0 0 0 90px;
	font-size: 16px;

	@include viewport(mobile) {
		font-size: 15px;
	}
}

.author-profile-info p,
.entry-header .author-profile-info p:last-child {
	margin-bottom: 10px;
}

.author-profile-title {
	font-size: 20px;
	margin-bottom: 10px;

	@include viewport(mobile) {
		font-size: 18px;
	}
}

.author-profile-links {
	a:first-child {
		margin-right: 8px;
	}

	font-size: 15px;

	i {
		font-size: 13px;
	}
}

/* --------------------------------------------------------------
5.4 Post Navigations
-------------------------------------------------------------- */

.post-navigation {
	background: #424a55;
	width: 100%;
	display: inline-block;
	margin-bottom: -11px;

	.background-effect {
		z-index: 5;
		transition: .2s ease-in-out;
		opacity: .35;
	}

	.nav-post {
		display: inline-block;
		width: 50%;
		float: left;
		position: relative;
		padding: 5%;

		@include viewport(tablet) {
			width: 100%;
			padding: 7% 5%;
			border-bottom: solid 5px #fff;
		}

		&:hover {
			.background-effect {
				opacity: .5;
			}
		}
	}

	.nav-post img {
		position: absolute;
		top: 0;
		left: 0;
	}

	.nav-post-text {
		line-height: 1;
		position: relative;
		z-index: 50;
	}

	.avatar-link + .nav-post-text {
		padding-left: 145px;
	}

	.overflow-link {
		width: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    -ms-text-overflow: ellipsis;
	    display: inline-block;
	    margin: 8px 0 12px 0;
	    color: #fff;
	    line-height: 1.3;
	}

	[rel="next"],
	[rel="prev"] {
		font-size: 26px;
		font-family: $title;
		line-height: 1.2;
		color: #fff;
		transition: .2s ease-in-out;

		@include viewport(mobile) {
			font-size: 20px;
			margin: 2px 0 7px 0;
		}

		&:hover {
			color: #fff;
			opacity: .9;
		}
	}

	div:only-child {
		width: 100%;
	}

	span {
		display: inline-block;
		font-size: 16px;
		color: #CDDBE6;

		&:first-child {
			margin-bottom: 5px;
		}

		@include viewport(mobile) {
			font-size: 14px;
		}
	}

	.nav-label {
		background: #f35245;
		padding: 4px 8px;
	    border-radius: 3px;
	    font-size: 12px;
	    color: #fff;
	}
}

.single #page .post-navigation {
	margin-top: 8%;

	@include viewport(mobile) {
		margin-top: 10%;
	}
}

/* --------------------------------------------------------------
5.5 Page Navigation
-------------------------------------------------------------- */

.page-navigation {
	display: inline-block;
	width: 100%;
	padding-top: 4%;
	text-align: center;
	overflow: hidden;

	a {
		color: $black;
	}

	a, span {
		background: #E8EDF3;
		padding: 10px 20px;
		transition: .2s ease-in-out;
		border-radius: 2px;
		display: inline-block;
		color: $gray;

		@include viewport(mobile) {
			padding: 10px 15px;
		}
	}

	.next,
	.prev {
		font-size: 0;

		&:after {
			font-family: "FontAwesome";
			font-size: 20px;
		}
	}

	.next {
		float: right;

		&:after {
			content: "\f105";
		}
	}

	.prev {
		float: left;

		&:after {
			content: "\f104";
		}
	}

	@include viewport(mobile) {
		.next,
		.prev {
			&:after {
				font-size: 17px;
			}
		}
	}
}

.page-numbers {
	font-family: $title;
	font-size: 20px;
	font-weight: 400;

	@include viewport(mobile) {
		font-size: 17px;
	}
}

.page-numbers.current,
.page-numbers:hover {
	background: #F35245;
	color: #fff;
}

/* --------------------------------------------------------------
6.0 Accessibility
-------------------------------------------------------------- */

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	margin: 0;
}

.screen-reader-text:hover, .screen-reader-text:active, .screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* --------------------------------------------------------------
7.0 Alignments
-------------------------------------------------------------- */

#page .alignleft {
	display: inline;
	float: left;
	margin: .5em 2em .5em 0;

	@include viewport(mobile) {
		max-width: 150px;
		margin-right: 1em;
	}
}

#page .alignright {
	display: inline;
	float: right;
	margin: .5em 0 1.5em 2em;

	@include viewport(mobile) {
		max-width: 150px;
		margin-left: 1em;
	}
}

#page .aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.5em auto;
}

.wp-caption {
    margin: .5em 0 1.5em 0;
	max-width: 100%;
	text-align: left;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
	max-width: 100%;
}

.wp-caption-text, .gallery-caption {
	padding-top: 10px;
	margin-top: 0;
	width: 100%;
	text-transform: none;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0;
	margin-bottom: 0;
	color: $gray;
}

.site-footer .wp-caption-text,
.site-footer .gallery-caption {
	color: #a6b5c1;
	border-left-color: #a6b5c1;
}

#main .tiled-gallery {
	margin-bottom: 1.4em;
}

.pull-right,
.pull-excerpt {
	float: right;
	margin: 1.2% 0 2% 5%;
	text-align: right;
}

.pull-left {
	float: left;
	margin: 1.5% 5% 2% 0;
}

.pull-right,
.pull-left,
.pull-excerpt {
	color: $black;
	font-family: $title;
	font-size: 20px;
	line-height: 1.4;
	width: 32%;
	padding: 20px 0 0 0;
	border-top: solid 4px $black;

	@include viewport(tablet) {
		font-size: 18px;
		width: 100%;
		margin: 0 0 5% 0;
	}
}

.pull-excerpt {
	font-style: normal;
	text-align: left;
	padding-top: 18px;
	line-height: 1.6;
	margin-top: 9px;

	@include viewport(tablet) {
		font-size: 20px;
		margin-top: 0;
	}
}

.sticky {
	width: auto;
}

/* --------------------------------------------------------------
8.0 Clearings
-------------------------------------------------------------- */

.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
	content: '';
	display: table;
}

.clear:after, .entry-content:after, .comment-content:after, .site-header:after, .site-content:after, .site-footer:after {
	clear: both;
}

/* --------------------------------------------------------------
9.0 Widgets
-------------------------------------------------------------- */

.widget-area {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	float: right;
	font-size: 16px;
	position: relative;
	-webkit-backface-visibility: hidden;

	@include viewport(tablet) {
		width: 100%;
		float: none;
		margin-top: 8%;
		background: #ecf1f7;
		padding: 5%;
	}
}

.widget-area a {
	color: $gray;

	&:hover {
		color: $black;
	}
}

.widget-area aside {
    display: inline-block;
    width: 100%;
    margin-bottom: 45px;
    vertical-align: top;

    &:last-child {
    	margin-bottom: 0;
    	padding-bottom: 0;
    }

    @include viewport(mobile) {
		margin-bottom: 35px;
	}
}

.widget-area aside:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.widget-area aside .widget-title,
.widget-area aside .widgettitle,
.widget-area .widget-grofile h4 a {
    font-size: 20px;
    line-height: 1.6;
    position: relative;
    margin-bottom: 20px;

    @include viewport(tablet) {
        margin-bottom: 35px;
    }

    @include viewport(mobile) {
        margin-bottom: 20px;
    }
}

.widget-area .textwidget p {
	margin-bottom: 15px;
}

.widget-area aside ul {
    margin: 0 0 0 0;
}

.widget-area aside ul.sub-menu,
.widget-area aside .children {
    margin: 4% 0 0 20px;
}

.widget-area aside ul.sub-menu li:last-child,
.widget-area aside .children li:last-child {
    margin-bottom: 0;
    padding-bottom: 2%;
    border-bottom: none;
}

.widget-area aside li {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: dotted 1px #C7D6E4;
    list-style: none;
    position: relative;

  	&:before {
  		content: "\f0da";
  		font-family: "FontAwesome";
  		position: absolute;
  		left: -18px;
  		top: 3px;
  		color: #A1B0BD;
  		font-size: 12px;
  		display: none;
  	}
}

.widget-area aside li ul li {
	list-style: circle;
}

.widget-area aside li:last-child {
    margin-bottom: 0;
    border-bottom: none;
    padding-bottom: 0;
}

#calendar_wrap {
	background: #fff;
	border-right: none;
	border-bottom: none;
	color: $black;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px -1px;
}

#wp-calendar {
	font-size: 16px;
	margin: 0;
	max-width: 100%;
}

#wp-calendar caption {
	text-align: center;
	background: #eaf1f5;
	padding: 5px 10px;
	font-weight: bold;
}

#wp-calendar tr th, #wp-calendar tr td {
	text-align: center
}

#wp-calendar tr th {
	background: $black;
	color: #fff;
	margin: -10px -10px 10px -10px;
	font-size: 11px;
	font-weight: bold;
	padding: 10px 0;
}

#wp-calendar tbody tr td {
	padding: 2px 0;
	border-right: solid 1px #f3f3f3;
	border-top: solid 1px #f3f3f3;
}

#wp-calendar tfoot td {
	border-top: solid 1px #f3f3f3;
	border-right: solid 1px #eee;
	padding: 7px 0 5px 0;
	font-weight: bold;
	font-size: 10px;
	text-transform: uppercase;
}

#wp-calendar a {
	color: $black;

	&:hover {
		color: $gray;
	}
}

.widget_rss {
	li {
		margin-bottom: 15px;
		padding-bottom: 15px;

		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	li .rsswidget {
		display: inline-block;
		width: 100%;
	}

	.rss-date, cite {
		font-size: 14px;
		text-transform: uppercase;
		display: inline-block;
		margin: 10px 0;
	}
}

.site-footer li .rsswidget {
	color: #fff;

	&:hover {
		opacity: .9;
	}
}

.widget-grofile {
	position: relative;
}

.widget .grofile-thumbnail {
	max-width: 90px;
	width: 90px;
	display: block;
	vertical-align: top;
	border-radius: 100px;
	margin: 0 auto 10px auto;
}

.grofile-meta {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.widget-area .widget-grofile h4 {
	margin-top: 0;
	margin-bottom: 20px;
	line-height: .9;
	text-align: center;

	a {
		color: $black;

		&:hover {
			color: $gray;
		}
	}
}

.widget-area .grofile-meta + h4 {
	display: none;
}

.widget-area .grofile-links {
	margin-bottom: 20px;
}

.widget-area .grofile-links + p,
.widget-area .grofile-meta + p {
	margin-bottom: 0;
}

aside.jetpack_subscription_widget {
	background: #ecf1f7;
	padding: 20px;

	@include viewport(tablet) {
		padding: 0;
	}

	p {
		margin-bottom: 15px;
		font-size: 15px;
	}

	h2.widget-title {
		#secondary & {
			margin-bottom: 10px;
			font-size: 18px;
		}
	}

	.success p:last-child {
		margin-bottom: 0;
	}

	#subscribe-submit input,
	#subscribe-email input {
		font-size: 16px;
		padding: 10px 12px;
		width: 100%;
	}

	#subscribe-submit {
		margin-bottom: 0;
	}
}

.site-footer aside.jetpack_subscription_widget {
	background: none;
	padding: 0;

	input[type="submit"] {
		background: #656F7C;
	}
}

/* --------------------------------------------------------------
10.0 Comments
-------------------------------------------------------------- */

.comment-navigation {
	font-size: 16px;
	margin: 0 0 6% 0;

	.button {
		display: inline-block;
	}

	.button:empty {
		display: none;
	}

	.nav-previous a:before {
		content: "\f0a8";
		font-family: "FontAwesome";
		margin-right: 10px;
	}

	.nav-next a:after {
		content: "\f0a9";
		font-family: "FontAwesome";
		margin-left: 10px;
	}
}

.comments-toggle {
	display: inline-block;

	@include viewport(mobile) {
		width: 100%;
		text-align: center;
	}

	i {
		margin-right: 5px;
	}

	span:not(:first-child) {
		display: none;
	}
}

.show .comments-toggle {
	display: none;
}

.comments-area {
	display: block;
	display: none;
	margin: 5% auto 0 auto;
	width: 100%;
}

.show.comments-area {
	display: inline-block;
}

.click + #disqus_thread {
	display: none;
	margin-top: 7%;
}

.show + #disqus_thread {
	display: block;
	margin-top: 7%;
}

h3.comments-title,
h3.comment-reply-title {
	font-size: 34px;
	margin-bottom: 5%;
	position: relative;

	@include viewport(mobile) {
		font-size: 22px;
	}
}

h3.comments-title {
	border-top: dotted 1px #c7d6e4;
    border-bottom: dotted 1px #c7d6e4;
    padding: 15px 0;
}

#commentform {
	display: inline-block;
	width: 100%;
}

.comment-list #commentform {
	margin-top: 2%;
}

.comment-info {
	display: inline-block;
	margin: 5px 0 20px 0;
}

img + .comment-info,
img + noscript + .comment-info {
	margin-left: 75px;

	@include viewport(mobile) {
		margin-left: 65px;
	}
}

.comment-content {
	font-size: 18px;
	background: #ecf1f7;
	padding: 30px;
	position: relative;

	&:after {
		position: absolute;
		top: -10px;
		left: 20px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #ecf1f7;
	}

	@include viewport(tablet) {
		font-size: 16px;
	}

	@include viewport(tablet) {
		padding: 20px;
	}
}

.bypostauthor {
	.comment-list .avatar:after {
		content: "\f007";
		font-family: "FontAwesome";
		font-size: 16px;
		margin-left: 1rem;
		position: relative;
		top: 0;
	}
}

.comment-list,
.comment-list li {
	margin: 0;
	counter-reset: li;
}

.comment-list > li {
	list-style-type: none;
	margin-bottom: 6%;
}

.comment-list .children {
	margin: 6% 0 0 0;
	padding-left: 50px;
	border-left: solid 2px #ecf1f7;

	@include viewport(mobile) {
		padding-left: 15px;
	}

	li {
		margin-bottom: 6%;

		&:last-child {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.comment-list .children > li {
	list-style: none;
}

.comment-list .reply {
	margin-bottom: 0;
	font-size: 14px;

	a {
		color: #848a96;

		&:hover {
			color: $black;
		}
	}
}

.comment-list .avatar {
	display: inline-block;
	margin-right: 20px;
	border-radius: 100px;
	vertical-align: top;
	width: 60px;
	position: absolute;

	@include viewport(mobile) {
		width: 50px;
	}
}

.comment-wrap {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.comment-cite {
	font-style: normal;
	display: inline-block;
	width: 100%;
	font-weight: 400;
	font-size: 22px;
	line-height: 1;
	font-family: $title;

	@include viewport(mobile) {
		font-size: 18px;
	}

	a {
		color: $black;
	}
}

.comment-time, .comment-edit-link {
	@include sans-uppercase;
	font-size: 11px;
	vertical-align: top;
}

.comment-list .comment-reply-title {
	margin-bottom: 3%;
	border: none;
	padding: 0;

	small {
		float: right;
	}
}

.logged-in-as, .comment-notes {
	margin-bottom: 2%;
	display: none;

	@include sans-uppercase;
}

.comment-notes {
	display: none;
}

.required {
	color: #F35959;
}

.logged-in-as a {
	color: $black;
}

.comment-form-author, .comment-form-email, .comment-form-url, .comment-form-comment {
	display: inline-block;
	width: 100%;

	@include viewport(tablet) {
		width: 100%;
		margin-right: 0;
	}
}

.comment-list #respond {
	display: inline-block;
	margin-top: 4%;
	width: 100%;
}

.comment-form-url {
	@include viewport(tablet) {
		margin-bottom: 1em;
	}
}

.comment-form label {
	color: $black;
	display: inline-block;
	float: left;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 700;
	width: auto;

	@include viewport(tablet) {
		float: none;
		width: 100%;
	}

	@include viewport(mobile) {
		font-size: 16px;
	}
}

.comment-form input:not([type='submit']), .comment-form textarea {
	width: 82%;
	font-size: 16px;
	float: right;

	@include viewport(tablet) {
		float: none;
		width: 100%;
	}
}

.form-submit {
	display: inline-block;
	margin: 0;
	width: 100%;
}

.comment-form #submit {
	margin-top: 2em;
	width: auto;
	float: right;

	@include viewport(mobile) {
		margin: 0;
		width: 100%;
	}
}

.form-allowed-tags {
	display: none;
}

.comment-subscription-form {
	margin-bottom: 10px;

	label {
		font-weight: normal;
		font-size: 14px;
	}
}

.comment-subscription-form {
	display: inline-block;
	width: 100%;

	.subscribe-label {
		float: right;
		margin: 0;
	}
}

#respond .comment-form-fields div.comment-form-field {
	width: 100% !important;
}

.comment-awaiting-moderation {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	font-size: 16px;
	font-style: normal;
}

.comment-awaiting-moderation:before {
	content: "\f06a";
	font-family: "FontAwesome";
	margin-right: 10px;
}

/* --------------------------------------------------------------
11.0 Infinite scroll
-------------------------------------------------------------- */

#infinite-handle {
	@include viewport(mobile) {
		display: inline-block;
		width: 100%;

		span {
			width: 100%;
		}
	}
}

#page #infinite-handle {
	display: inline-block;
	width: 100%;
	margin-top: 4%;
	text-align: center;
}

#page #infinite-handle span {
	background: none;
	padding: 0;
}

#page #infinite-handle button {
	background: #E8EDF3;
	padding: 10px 20px;
	transition: .2s ease-in-out;
	border-radius: 2px;
	display: inline-block;
	color: $gray;
	font-size: 20px;
	text-transform: capitalize;

	&:hover {
		color: #fff;
		background: #f35245;
	}
}

.infinite-loader {
	position: absolute;
	bottom: -65px;
	left: 50%;
}

.infinite-scroll .paging-navigation,
.infinite-scroll.neverending .site-footer,
.infinite-scroll .page-navigation {
	display: none;
}

.infinity-end.neverending .site-footer {
	display: block;
}

.spinner {
	left: 50% !important;
}

/* --------------------------------------------------------------
12.0 Masonry
-------------------------------------------------------------- */

#post-wrapper {
	position: relative;
}

.grid-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 100%;
	position: relative;

	@include viewport(tablet) {
		margin: 0 0 4% 0;
	}

	@include viewport(mobile) {
		margin: 0 0 0 0;
		height: auto !important;
	}
}

.grid-thumb img {
	display: block;
	min-width: 100%;
}

img.emoji {
	min-width: 0;
}

.grid-wrapper .grid-thumb {
	display: inline-block;
	margin-bottom: 5%;
	vertical-align: top;
}

.three-column .grid-wrapper .grid-thumb {
	width: 31%;
	margin-right: 3%;

	&:nth-child(3n+3) {
		margin-right: 0;
	}

	@media screen and (max-width: 1145px) {
		width: 30.8%;
	}

	@include viewport(tablet) {
		width: 47.5%;
		margin-right: 4%;
		margin-bottom: 8%;

		&:nth-child(3n+3) {
			margin-right: 4%;
		}

		&:nth-child(2n+2) {
			margin-right: 0;
		}
	}

	@include viewport(mobile) {
		width: 100%;
		margin-bottom: 10%;
	}
}

body:not(.three-column) .grid-thumb {
	width: 47.5%;
	margin-right: 4%;

	&:nth-child(2n+2) {
		margin-right: 0;
	}

	@include viewport(tablet) {
		margin-right: 4%;
		margin-bottom: 8%;

		&:nth-child(2n+2) {
			margin-right: 0;
		}
	}

	@include viewport(mobile) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 9%;
		padding-bottom: 6%;

		&:after {
			content: " ";
			background: #C6D1DA;
			height: 2px;
			width: 40px;
			position: absolute;
			bottom: 0;
		}

		&:last-child:after {
			height: 0;
		}
	}
}

.grid-thumb-image {
	margin-bottom: 3%;
	display: inline-block;
	width: 100%;

	@include viewport(mobile) {
		margin-bottom: 2%;
	}
}

.grid-text {
	font-size: 17px;
	word-wrap: break-word;

	@include viewport(mobile) {
		font-size: 15px;

		p {
			margin-bottom: 10px;
		}
	}
}

.grid-date {
	font-size: 14px;
	color: $gray;

	span {
		padding: 0 2px;
	}
}

.grid-thumb .entry-title {
	font-size: 26px;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 15px;

	@media screen and (min-width: 786px) {
		-webkit-animation-duration: .8s;
		animation-duration: .8s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	@include viewport(mobile) {
		font-size: 22px;
		margin-bottom: 10px;
	}

	a {
		color: $black;
		transition: .2s ease-in-out;
		border-bottom: solid 2px transparent;
	}

	a:hover {
		color: $black;
		border-bottom: solid 2px #C4D1E0;
	}
}

.grid-thumb p {
	margin-bottom: 15px;
}

.single .overlay-cats {
	margin-bottom: 4%;
}

.grid-cats {
	margin-bottom: 5px;
	display: inline-block;
}

.grid-cats a {
	font-size: 14px;

    &:after {
    	content: " / ";
    	padding: 0 2px;
    }

    &:hover:after {
    	color: $gray;
    }

    &:last-child:after {
    	content: "";
    }
}

/* --------------------------------------------------------------
13.0 Hero Posts
-------------------------------------------------------------- */

.hero-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.header-gradient {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00e5e5e5', endColorstr='#36404c',GradientType=0 );
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 20;
    pointer-events: none;

    @include viewport(tablet) {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.7) 100%);
	}
}

.hero-posts {
	position: relative;
	z-index: 20;
	background: #343e47;
	overflow: hidden;
}

.hero-posts .hero-post {
	width: 100%;
	padding: 8% 0 260px 0;
	margin-bottom: 0;
	position: relative;

	@include viewport(tablet) {
		padding-bottom: 130px;
	}

	@include viewport(mobile) {
		padding-bottom: 110px;
		padding-top: 12%;
	}
}

.single-hero .post {
	padding: 8% 0;
}

.single .hero-posts .hero-post {
	padding: 26% 0 4% 0;

	@include viewport(tablet) {
		padding-bottom: 8%;
		padding-top: 32%;
	}
}

.single .hero-posts .without-featured-image {
	padding: 4% 0;
	width: 100%;

	@include viewport(tablet) {
		padding: 8% 0;
	}
}

.hero-posts .hero-post:not(:first-child) {
	display: none;
}

.hero-posts .container {
	z-index: 40;
}

.hero-cats,
.entry-cats {
	margin-bottom: 1.5%;
	position: relative;
	z-index: 10;

	@include viewport(tablet) {
		margin-bottom: 5%;
	}

	a {
	    background-color: #F35245;
	    padding: 4px 8px;
	    margin-right: 5px;
	    border-radius: 3px;
	    font-size: 12px;
	    color: #fff;
	    transition: .2s ease-in-out;

	    &:hover {
	    	box-shadow: inset 0 0 80px rgba(255, 255, 255, 0.10);
	    }

	    @include viewport(mobile) {
			font-size: 11px;
			padding: 3px 4px;
		}
	}
}

.hero-posts .hero-text {
	opacity: 0;
	opacity: 1\9;
	position: relative;
	z-index: 40;
}

.hero-posts .hero-text p {
	color: #fff;
	color: rgba(255,255,255,.8);
	max-width: 70%;
	text-shadow: 2px 2px 40px rgba(52,62,71,.72);
	position: relative;
	z-index: 5;

	@media only screen and (max-width:1024px) {
		color: rgba(255,255,255,.8);
		max-width: 100%;
		text-shadow: none;
	}
}

.hero-posts .hero-post .entry-title {
	font-size: 64px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 2%;
	color: #fff;
	text-shadow: 2px 2px 40px rgba(52,62,71,.8);
	position: relative;
	z-index: 6;

	@media only screen and (max-width:1024px) {
		font-size: 52px;
		margin-bottom: 3%;
		text-shadow: none;
	}

	@include viewport(mobile) {
		font-size: 32px;
		margin-bottom: 5%;
	}
}

.hero-posts .entry-title a {
	color: #fff;
	transition: .3s ease-in-out;

	&:hover {
		color: #fff;
		opacity: .8;
	}
}

.hero-date {
	color: #fff;
	font-size: 14px;
	position: relative;
	z-index: 20;

	@include viewport(tablet) {
		text-shadow: 2px 2px 40px rgba(0,0,0,1);
	}

	a {
		color: #fff;
		transition: .3s ease-in-out;

		&:hover {
			color: #fff;
			opacity: .8;
		}
	}
}

.hero-date img {
	width: 24px;
	border-radius: 50px;
	margin-right: 5px;
	vertical-align: bottom;
}

.hero-pager-wrap {
	width: 100%;
	min-height: 132px;
	position: absolute;
	bottom: 0;
	z-index: 25;

	@include viewport(tablet) {
		min-height: 0;
		bottom: 8%;
	}
}

#hero-pager {
	margin: 0;
	border-top: solid 2px rgba(255,255,255,.4);

	@include viewport(tablet) {
		display: none;
	}

	li {
		display: inline-block;
		list-style: none;
		width: 25%;
		float: left;
		margin-top: -2px;
		padding-right: 3%;
		border-top: solid 2px transparent;
		opacity: .7;
		transition: .3s ease-in-out;

		&:hover {
			cursor: pointer;
			opacity: 1;
		}

		&:last-child {
			margin-right: 0;
		}

		a {
			position: relative;
			padding: 40px 0;
			display: inline-block;
			width: 100%;
			vertical-align: top;
		}
	}

	.paging-thumb {
		display: inline-block;
		vertical-align: top;
		position: absolute;
		top: 45px;
		left: 0;

		img {
			border-radius: 3px;
		}
	}

	.paging-text {
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}

	.paging-thumb + .paging-text {
		padding-left: 65px;
	}

	.entry-title {
		font-size: 17px;
		font-weight: 400;
		line-height: 1.3;
		color: #fff;
		margin-bottom: 8px;
	}

	.paging-date {
		font-size: 13px;
		color: #fff;
		opacity: .6;
	}
}

#hero-pager .rslides_here {
	opacity: 1;

	border-top-color: #fff;
}

.pager-navs {
	display: none;
	width: 100%;

	@include viewport(tablet) {
		display: inline-block;
	}

	.next,
	.prev {
		font-size: 0;
		outline: none;

		&:before {
			font-size: 24px;
			font-family: "FontAwesome";
			color: #fff;
			height: 40px;
			width: 40px;
			text-align: center;
			border: solid 2px #fff;
			border-radius: 50px;
			padding: 5px;
			display: inline-block;
			line-height: 1;
			margin-right: 10px;
		}
	}

	.next:before {
		content: "\f105";
		text-indent: 3px;
	}

	.prev:before {
		content: "\f104";
		text-indent: -2px;
	}
}

.site-header-bg-wrap {
}

@keyframes smoothFade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-moz-keyframes smoothFade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@-webkit-keyframes smoothFade {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.background-effect {
    position: absolute;
    z-index: -999998;
    top: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    opacity: .2;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.site-header-bg.background-effect {
    background-attachment: scroll;
}

/* --------------------------------------------------------------
14.0 Featured Posts
-------------------------------------------------------------- */

.featured-posts-wrap {
	position: relative;
	width: 100%;
	z-index: -1;
	transform: translate3d(0,0,0);

	@include viewport(tablet) {
		display: none;
	}
}

.featured-posts {
	background: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
	position: absolute;
	transition: transform 800ms linear;
    transform: translateY(-115%);
	width: 100%;
	z-index: -1;
	transition: 0.4s;
	opacity: 0;

	@media only screen and (max-width:1100px) {
		min-height: 100%;
	}
}

.featured-posts.show {
	transform: translateY(0%);
	z-index: 3;
	min-height: 311px;
	opacity: 1;

	@media only screen and (max-width:1200px) {
		min-height: 290px;
	}

	@media only screen and (max-width:1024px) {
		min-height: 270px;
	}

	@media only screen and (max-width:980px) {
		min-height: 265px;
	}
}

.post-loading {
	opacity: .5;
	-webkit-transition: .1s ease-in;
	-moz-transition: .1s ease-in;
	transition: .1s ease-in;
}

.featured-posts.hide {
	min-height: 0;
}

.featured-header {
	width: 100%;
	padding: 30px 25px;
	font-size: 15px;
}

.view-all {
	margin-left: 20px;
	color: $black;

	&:hover {
		color: $gray;
	}

	&:before {
		font-family: "FontAwesome";
		content: "\f00a";
		font-size: 13px;
		margin-right: 5px;
	}
}

.featured-header-close {
	float: right;

	&:hover {
		cursor: pointer;
		color: $gray;
	}
}

.featured-posts .post {
	width: 16.4%;
	margin-bottom: 0;
	vertical-align: top;
	padding: 0 0 0 25px;
	padding-bottom: 30px;
	float: left;
	opacity: 0;
	opacity: 1\9;
}

@include viewport(tablet) {
	.featured-posts .grid-thumb.post {
		width: 46%;
		margin-bottom: 20px;
	}
}

.featured-posts #post-not-found {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 15px;

	p {
		margin-bottom: 0;
	}
}

.featured-posts .overlay-cats {
	display: none;
}

.featured-posts .post:last-child {
	margin-right: 0;
}

.featured-posts .overlay-cats a {
	font-size: 10px;
}

.featured-posts .grid-thumb-image {
	margin-bottom: 5px;
	transition: .3s ease-in-out;
	max-height: 160px;
	overflow: hidden;

	&:hover {
		opacity: .9;
	}
}

.featured-posts .grid-text .entry-title {
	font-size: 15px;
	line-height: 1.2;
	margin-bottom: 0;

	a {
		width: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    -ms-text-overflow: ellipsis;
	    display: inline-block;
	    border-bottom: none;
	    color: $black;

	    &:hover {
	    	border-bottom: none;
	    	color: $gray;
	    }
	}
}

.featured-posts .grid-date {
	font-size: 13px;
}

.filter {
	@include sans-uppercase;
	margin-bottom: 2%;
}

/* --------------------------------------------------------------
13.0 Media
-------------------------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

.site-main .gallery {
	margin-bottom: 1.5em;
}

.gallery a img {
	border: none;
	height: auto;
	width: 100%;
	max-width: 100%;
}

.gallery dd, .gallery figcaption {
	font-size: 15px;
	text-align: left;
	margin: 0 0 15px 0;
}

.gallery-item {
	display: inline-block;
	padding-right: 5%;
	padding-bottom: 5%;
	width: 25%;
	vertical-align: top;

	@include viewport(tablet) {
		width: 32%;
	}
}

embed, iframe, object {
	max-width: 100%;
}

#content .wp-playlist-light {
	color: #55626D;
	padding: 0;
}

#content .mejs-container, #content .mejs-embed, #content .mejs-embed body {
	background: none;
}

#content .mejs-container:not(.wp-video-shortcode) {
	margin-bottom: 1em;
	height: 75px !important;
}

#content .mejs-container a {
	border-bottom: none;

	&:hover {
		background: transparent;
	}
}

#content .wp-playlist {
	border: none;
	background: none;
	margin: 0 0 1.5em 0;
	padding: 0;
}

#content .wp-playlist-tracks {
	margin-top: 3.5%;
}

#content .wp-playlist-item {
	border-bottom: dotted 1px #CAD1D8;
	padding: 0;

	&:last-child {
		border-bottom: none;
	}
}

#content .wp-playlist-item .wp-playlist-caption,
#content .wp-playlist-item-length {
	padding: 2%;

	@include viewport(tablet) {
		padding: 4%;
	}
}

#content .wp-playlist-item .wp-playlist-caption {
	color: $black;
	display: inline-block;
	border-bottom: none;

	&:hover {
		background: none;
		border-bottom: none;
	}
}

#content .wp-playlist-caption, #content .wp-playlist-item-title {
	font-size: 18px;

	@include viewport(tablet) {
		font-size: 16px;
	}
}

#content .wp-playlist-current-item {
	height: auto !important;

	.wp-playlist-caption {
		margin-bottom: 1.5%;
	}

	img {
		display: none;
	}

	.wp-playlist-item-title {
		color: $black;
		font-size: 30px;
		font-weight: 500;

		@include viewport(tablet) {
			font-size: 22px;
		}
	}

	.wp-playlist-item-album {
		font-size: 20px;

		@include viewport(tablet) {
			font-size: 16px;
		}
	}
}

#page .mejs-controls {
	background: $black;
	height: 75px;
	padding: 0 20px;

	@include viewport(tablet) {
		padding: 0 10px;
	}

	.mejs-button button:hover {
		background-color: transparent !important;
	}

	.mejs-time {
		height: 56px;
		padding-top: 18px;

		span {
			line-height: 40px;
		}
	}

	> div {
		height: 60px;
	}

	.mejs-time-rail {
		.mejs-time-loaded {
			background: #5E7383;
			height: 14px;
		}

		.mejs-time-current {
			background: #e3eaf0;
			height: 14px;
		}

		.mejs-time-total {
			background: #5E7383;
			height: 14px;
			margin: 20px 10px;
		}
	}

	.mejs-horizontal-volume-slider {
		.mejs-horizontal-volume-total {
			background: #5E7383;
			height: 14px;
			top: 29px;
		}
		.mejs-horizontal-volume-current {
			background: #e3eaf0;
			height: 14px;
			top: 0;
		}
		.mejs-horizontal-volume-handle {
			background: #5E7383;
			height: 14px;
		}
	}

	.mejs-button button {
		margin: 29px 5px;

		&:focus {
			border: none;
			box-shadow: none;
			outline: none;
		}
	}
}

#page .mejs-video {
	.mejs-controls,
	.mejs-controls > div {
		height: 40px;
	}

	.mejs-time {
		height: 35px;
		padding-top: 2px;
	}

	.mejs-time-rail .mejs-time-total {
		margin: 8px 10px;
	}

	.mejs-button button {
		margin: 12px 5px;
	}
}

/* --------------------------------------------------------------
14.0 Header
-------------------------------------------------------------- */

.drawer-wrap {
	position: relative;
}

.drawer {
	padding: 5% 0 5% 0;
	background: #e4e9ef;
	font-size: 16px;
	display: none;
	position: absolute;
	z-index: 30;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	box-shadow: 0 6px 6px rgba(130, 144, 152, 0.25);

	@media only screen and (min-width:800px) {
		overflow-x: hidden;
	}

	@include viewport(mobile) {
		padding-top: 8%;
	}
}

.drawer-menu-explore {
	background: $black;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: none;
}

.drawer-menu-explore .container {
	padding: 0;
}

.show-drawer {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: .3s;
	animation-duration: .3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	display: inline-block !important;
}

.admin-bar .drawer-open .drawer {
	margin-top: 35px;
}

/* Big Search */

.big-search {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 5%;

    @include viewport(mobile) {
    	margin-bottom: 10%;
    }
}

#big-searchform {
    height: 70px;
    display: inline-block;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 0 #D9E1E7;
    position: relative;
}

@media only screen and (max-width:600px) {
    #big-searchform {
        height: 55px;

        ::-webkit-input-placeholder {
           font-size: 16px;
        }

        :-moz-placeholder { /* Firefox 18- */
           font-size: 16px;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           font-size: 16px;
        }

        :-ms-input-placeholder {
           font-size: 16px;
        }
    }
}

.search-controls {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.big-search #big-search {
    background: #fff;
    font-size: 20px;
    line-height: 2;
    padding: 15px 20px;
    border-radius: 3px;
    border: none;
    height: 70px;
    width: 100%;

    &:focus {
    	box-shadow: inset 0 0 15px 2px #EEF3F7,
    	0 0 1px #BCC9D4;
    }
}

@include viewport(mobile) {
    .big-search #big-search {
        font-size: 16px;
        padding-right: 150px;
        padding: 10px 150px 10px 10px;
        height: 52px;
    }
}

.search-select-wrap {
    position: relative;
    display: inline-block;
    height: 100%;
    border-left: solid 1px #EFF2F6;
    background: #fff;
}

.search-select-wrap:after {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    top: 22px;
    right: 15px;
    z-index: 10px;
    pointer-events: none;
    color: #6e7987;
    display: none\9;
}

@include viewport(mobile) {
    .search-select-wrap:after {
        top: 13px;
    }
}

.big-search .search-select {
    display: inline-block;
    background: transparent;
    color: #6E7987;
    border: none;
    width: auto;
    max-width: 250px;
    border-radius: 0;
    padding-left: 25px;
    padding-right: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 100%;
}

@media only screen and (max-width:600px) {
    .big-search .search-select {
        padding-left: 20px;
        padding-right: 20px;
        color: transparent;
        width: 40px;
    }
}

.big-search .search-select:hover {
    cursor: pointer;
}

.big-search .submit {
    display: inline-block;
    vertical-align: top;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0 35px;
    font-size: 20px;
    height: 100%;
}

@media only screen and (max-width:600px) {
    .big-search .submit {
        padding: 0 20px;
        font-size: 16px;
    }
}

.author-list {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		position: relative;
	}
}

.drawer .widget ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.drawer .widget {
	width: 33%;
	display: inline-block;
	padding-right: 6%;
	vertical-align: top;

	@include viewport(tablet) {
		width: 100%;
		padding-right: 0;
		margin-bottom: 20px;
	}
}

.drawer .tax-widget {
	overflow: hidden;

	a {
		float: left;
		display: inline-block;
	    padding: 6px 10px;
		margin-right: 5px;
	    margin-bottom: 5px;
	    font-size: 13px;
	}
}

.drawer .widget-title {
	font-size: 22px;
	margin-bottom: 30px;

	@include viewport(mobile) {
		font-size: 20px;
		margin-bottom: 20px;
	}
}

.author-widget {
	background: #ecf1f7;
	padding: 20px;

	@include viewport(tablet) {
		padding: 0;
	}
}

.widget-area .author-list li {
	position: relative;
    border-bottom: dotted 1px #B8C6D4;
    margin-bottom: 20px;
    padding-bottom: 15px;

    &:last-child {
    	padding-bottom: 0;
    	margin-bottom: 0;
    	border-bottom: none;
    }
}

.author-list .avatar {
	border-radius: 50px;
	position: absolute;
	top: 0;
	left: 0;
}

.author-list .avatar + .author-drawer-text {
	padding-left: 70px;
}

h2.author-drawer-name {
	font-size: 17px;
	margin-bottom: 10px;
}

.author-drawer-desc {
	font-size: 15px;
	margin-bottom: 8px;
}

.author-drawer-links a {
	font-size: 14px;
	display: inline-block;
	border-right: dotted 1px #b2c6d8;
	padding-right: 8px;
	margin-right: 5px;

	&:last-child {
		border-right: none;
	}
}

.drawer .social-navigation {
	margin-bottom: 0;
	background: #2b343c;
	text-align: center;

	@include viewport(tablet) {
		display: inline-block;
		width: 100%;

		a {
			margin-bottom: 0;
			color: rgba(255,255,255,.8);
		}

		a:before {
			color: rgba(255,255,255,.8);
			font-size: 20px;
		}
	}

}

.site-header {
	padding: 0;
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 40;
}

body.admin-bar .is-sticky .site-header {
	margin-top: 32px;
}

.headroom {
    transition: transform 400ms linear;
    transform: translateY(-200%);
}

.mini-bar.headroom--pinned {
    transform: translateY(0%);
    top: 0;
	position: fixed;
	left: 0;
}

.mini-bar.headroom--unpinned,
.mini-bar.headroom--top {
    transform: translateY(-200%);
}

.category-drop ul:not(.share-drop) li:first-child a {
	padding-left: 0;
	border-left: none;
}

.mini-bar {
	overflow: hidden;
	transform: translateY(-200%);
	position: fixed;
	top: 0;
	width: 100%;
	left: 0;
	height: 60px;
	z-index: 40;
	background: #fff;
	font-size: 16px;
	font-weight: 700;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

	@include viewport(tablet) {
		height: 60px;
	}

	@include viewport(mobile) {
		height: 50px;
	}

	.container {
		padding: 0;
	}

	.mini-menu {
		list-style: none;
		margin: 0;
		float: right;
		padding-right: 5px;

		li {
			display: inline-block;
			margin-right: -5px;
			vertical-align: top;
		}

		li:last-child a {
			border-right: none;
		}

		li a {
			padding: 18px 15px;
			display: inline-block;
			border-right: dotted 1px #c7d6e4;
			outline: none;
			color: $black;
			transition: .2s ease-in-out;

			@include viewport(mobile) {
				padding: 16px 12px;
				font-size: 0;

				i {
					font-size: 18px;
				}
			}

			&:hover {
				color: $gray;
			}
		}

		i {
			margin-right: 3px;
		}
	}
}

.mini-bar li.back-to-menu {
	display: none;

	@include viewport(tablet) {
		display: inline-block;
	}
}

@include viewport(tablet) {
	.mini-bar li.back-to-top {
		display: none;
	}
}

.admin-bar .mini-bar {
	top: 32px;

	@media only screen and (max-width:782px) {
		top: 46px;
	}

	@include viewport(mobile) {
		top: 0;
	}
}

.mini-title {
	display: inline-block;
	padding-right: 15px;

	&:hover {
		cursor: pointer;
	}

	@include viewport(tablet) {
		max-width: 350px;
		padding-right: 0;
	}

	@include viewport(mobile) {
		max-width: 225px;
	}
}

.fixed-nav {
	position: relative;
	line-height: 1.4;
	float: left;
	display: inline-block;
}

.fixed-nav .fixed-image {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	min-height: 60px;
	width: auto;

	@include viewport(tablet) {
		display: none;
	}
}

.fixed-nav .fixed-image + .fixed-post-text {
	padding-left: 80px;

	@include viewport(tablet) {
		padding-left: 20px;
	}

	@include viewport(tablet) {
		padding-left: 15px;
	}
}

.fixed-post-text {
	padding-top: 6px;
	padding-left: 15px;
	max-width: 500px;

	@include viewport(tablet) {
		max-width: 400px;
	}

	@include viewport(mobile) {
		padding-top: 2px;
		max-width: 220px;
	}

	a {
		width: 100%;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    -o-text-overflow: ellipsis;
	    -ms-text-overflow: ellipsis;
	    display: inline-block;
		color:  $black;

		@include viewport(mobile) {
			font-size: 14px;
		}

		&:hover {
			color: $gray;
		}
	}
}

.fixed-post-text span {
	display: inline-block;
	width: 100%;
	font-size: 13px;
	color: $gray;
	font-weight: normal;

	&:after {
		content: " \2192"
	}
}

.site-identity {
	padding: 5% 0;
	position: relative;
	z-index: 8;
	background: #ECF1F7;
	transform: translate3d(0,0,0);

	@include viewport(tablet) {
		padding: 7% 0 6% 0;
	}
}

.site-title-wrap {
	display: inline-block;
	vertical-align: top;
	max-width: 30%;
	width: 100%;
	position: relative;

	@include viewport(tablet) {
		max-width: 100%;
	}
}

.site-title {
	font-family: $title;
	font-size: 28px;
	font-weight: 400;
	margin-bottom: 0;
	margin-right: 8px;
	line-height: 1.2;

	@include viewport(mobile) {
		font-size: 22px;
	}

	a {
		color: #383f49;
		transition: .1s ease-in;
		position: relative;
	}
}

.site-description {
	color: $black;
	opacity: .6;
	font-family: $body;
	font-size: 13px;
	margin: 0;
	display: inline-block;
	width: 100%;
	font-style: italic;
	position: absolute;
	margin-top: 3px;

	@include viewport(tablet) {
		position: relative;
	}

	@include viewport(mobile) {
		font-size: 13px;
	}
}

.site-avatar {
	display: inline-block;
	text-align: center;
	width: 100%;
	vertical-align: top;

	img {
		border-radius: 500px;
		margin-bottom: 15px;
		width: 85px;
		transition: all .2s ease-in-out;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.site-logo {
	line-height: 1;
	margin: 0;
	text-align: center;
	display: inline-block;
	max-width: 100%;
}

.site-logo:empty {
	margin: 0;
}

@include viewport(tablet) {
	.site-logo-link {
		text-align: center;
		width: 100%;
		display: inline-block;

		img {
			max-width: 100%;
		}
	}
}

/* --------------------------------------------------------------
15.0 Content
-------------------------------------------------------------- */

.container {
	max-width: 1660px;
	margin: 0 auto;
	padding: 0 5%;
	display: block;
	position: relative;

	@include viewport(mobile) {
		padding: 0 15px;
	}
}

.error404 .entry-header {
	margin-bottom: 0;
}

.archive-box {
	margin-top: 30px;
}

#content .archive-box ul {
	ul {
		margin-left: 30px;
		margin-top: 0;
	}

	li {
		margin-bottom: 0;
	}

	a {
		border-bottom: dotted 1px #c7d6e4;
		padding-bottom: 15px;
		margin-bottom: 15px;
		display: inline-block;
		width: 100%;

		&:hover {
			border-bottom: dotted 1px #c7d6e4;
			color: $gray;
		}
	}
}

.entry-header p:last-child {
	margin-bottom: 0;
}

.single #page {
	margin: 0 auto;
}

.page-template-full-width #primary,
.post-template-full-width-php #primary,
.three-column .content-area,
.archive.three-column .content-area {
	width: 100%;
}

.post-template-full-width-php {
	.post .entry-header {
		display: none;
	}
	.post .featured-image {
		display: none;
	}
}

.single .content-area,
.page .content-area,
.page.three-column .content-area,
.single.three-column .content-area,
.error404 .content-area {
	display: inline-block;
	width: 70%;

	@include viewport(tablet) {
		width: 100%;
	}
}

.no-sidebar #page .content-area,
.single.no-sidebar .content-area,
.home.no-sidebar .content-area {
	margin: 0 auto;
	display: block;
}

.entry-content .page-links {
	clear: both;
	margin: 0 0 1.4em;

	a {
		border-bottom-width: 2px;
		padding: 0 2px;
	}
}

.featured-image {
	margin-bottom: 5%;
	display: block;
	width: 100%;

	@include viewport(mobile) {
		margin-bottom: 1.2em;
	}

	img {
		display: block;
		-webkit-transform: translate3d(0,0,0);
		transition: .07s ease-in-out;
	}
}

.featured-video {
	margin-bottom: 1.5em;
	display: inline-block;
	width: 100%;

	@include viewport(mobile) {
		margin-bottom: 1.2em;
	}
}

.content-area {
	display: inline-block;
	width: 70%;

	@include viewport(tablet) {
		width: 100%;
	}
}

.site-content {
	display: inline-block;
	width: 100%;
	padding: 6% 0 8% 0;

	@include viewport(mobile) {
		padding: 6% 0;
	}
}

.home .site-content {
	padding-top: 8%;

	@include viewport(mobile) {
		padding-top: 6%;
	}
}

.entry-header {
	position: relative;
	margin-bottom: 4%;

	@include viewport(tablet) {
		margin-bottom: 7%;
	}
}

.page .entry-header {
	margin-bottom: 1.4em;
}

.archive-header .entry-title,
.page .entry-header .entry-title,
.error404 .entry-header .entry-title {
	font-size: 42px;
	margin-bottom: 0;

	@include viewport(tablet) {
		font-size: 36px;
		margin-bottom: 10px;
	}

	@include viewport(mobile) {
		font-size: 30px;
	}
}

.archive-header .entry-title + .entry-content {
	margin-top: 15px;
}

.entry-cats {
	font-size: 16px;
}

.full-post .entry-title {
	font-family: $title;
	font-size: 58px;
	margin-bottom: 0;
	line-height: 1.2;

	@include viewport(tablet) {
		font-size: 46px;
	}

	@include viewport(mobile) {
		font-size: 34px;
		margin-bottom: 15px;
		line-height: 1.2;
	}

	a {
		color: $black;
		text-decoration: none;

		transition: .1s ease-in-out;

		&:hover {
			color: #62707c;
		}
	}
}

.byline {
	color: $gray;
	margin-top: 3%;
	font-size: 16px;

	@include viewport(mobile) {
		display: inline-block;
		margin-top: 0;
		font-size: 12px;
	}
}

.byline img {
	width: 24px;
	border-radius: 50px;
	vertical-align: top;
	margin-right: 5px;
}

.byline a {
	color: $gray;
	border-bottom: 2px solid transparent;
	transition: .2s ease;
	padding-bottom: 2px;
}

.byline a:hover {
	border-bottom: 2px solid #e3eaf0;
}

.entry-meta {
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.meta-list {
	margin: 1% 0 6% 0;
	list-style-type: none;
	font-size: 16px;
	color: #848a96;

	@include viewport(mobile) {
		margin-bottom: 8%;
	}

	li {
		display: inline;
		vertical-align: top;
		margin-right: 20px;

		@include viewport(mobile) {
			display: inline-block;
			width: 100%;
		}
	}

	span {
		display: inline-block;
		font-weight: 700;
		color: $black;
	}

	strong {
		color: $black;
		display: inline-block;
		width: 100%;
	}

	a {
		color: #848a96;
		&:hover {
			color: $black;
		}
	}
}

.meta-cat + .meta-tag {
	margin-top: 10px;

	@include viewport(mobile) {
		margin-top: 5px;
	}
}

.entry-content {
	vertical-align: top;
}

.entry-content a:not([class*="button"]) {
	color: $black;
	border-bottom: 2px solid #C4D1E0;
	transition: .2s ease-in-out;
}

.entry-content a:not([class*="button"]):hover {
	border-bottom: 2px solid $gray;
}

.entry-content a.no-underline,
.entry-content a.no-underline:hover {
	border-bottom: none;
}

.excerpt-more {
	display: inline-block;
	width: 100%;
}

/* --------------------------------------------------------------
16.0 Posts
-------------------------------------------------------------- */

.post {
	width: 100%;
	margin-bottom: 8%;
	display: inline-block;
	position: relative;
}

.page.page-template-default .post,
.page.page-template-full-width .post,
.single .post {
	margin-bottom: 0;
}

/* --------------------------------------------------------------
17.0 Footer
-------------------------------------------------------------- */

.site-footer {
	background: $black;
	color: #a6b5c1;
	color: rgba(255,255,255,.7);
	padding: 0 0 4% 0;
	font-size: 16px;
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 1;

	@include viewport(tablet) {
		padding-bottom: 30px;
	}

	@include viewport(mobile) {
		font-size: 15px;
	}
}

.post-navigation + .site-footer {
	box-shadow: inset 0 50px 50px -50px rgba(0, 0, 0, .25);

	@include viewport(tablet) {
		box-shadow: none;
	}
}

.footer-padding {
	padding-top: 15%;
	opacity: 0;
}

.site-footer a {
	color: #a6b5c1;
	color: rgba(255,255,255,.8);
	transition: .2s ease-in-out;

	&:hover {
		color: #fff;
		color: rgba(255,255,255,1);
	}
}

.footer-widgets {
	display: inline-block;
	width: 100%;
	padding-top: 8%;

	@include viewport(tablet) {
		padding-top: 10%;
	}

	aside {
		width: 33%;
		display: inline-block;
		vertical-align: top;
		padding-right: 4%;
		margin-bottom: 40px;

		@include viewport(tablet) {
			width: 100%;
			margin-bottom: 7%;
		}

		@include viewport(mobile) {
			padding-right: 0;
		}
	}

	.widget:first-of-type:nth-last-of-type(2),
	.widget:first-of-type:nth-last-of-type(2) ~ .widget {
		width: 49.5%;
	}

	.widget:first-of-type:nth-last-of-type(4),
	.widget:first-of-type:nth-last-of-type(4) ~ .widget {
		width: 24%;

		@media only screen and (max-width:1000px) {
			width: 49%;
			margin-bottom: 7%;
		}

		@include viewport(mobile) {
			width: 100%;
		}
	}

	ul {
		list-style: none;
		margin: 0;

		li {
			padding: 15px 0;
			border-bottom: dotted 1px rgba(255,255,255,.3);

			&:last-child {
				border-bottom: none;
			}
		}

		ul li {
			list-style-type: circle;
		}

		.menu-item-has-children {
			padding-bottom: 0;
		}
	}

	.sub-menu {
		margin-left: 20px;
	}

	.widget_text a {
		border-bottom: dotted 1px rgba(255, 255, 255, 0.3);
	}
}

.footer-bottom {
	display: inline-block;
	width: 100%;
	padding-top: 4%;

	@include viewport(tablet) {
		padding-top: 30px;
	}
}

.footer-widgets + .footer-bottom {
	border-top: dotted 1px rgba(255,255,255,.3);
	margin-top: 2%;

	@include viewport(tablet) {
		margin-top: 0;
	}
}

.footer-tagline {
	display: inline-block;

	@include viewport(tablet) {
		float: none;
		width: 100%;
		margin-top: 15px;
	}
}

.footer-navigation + .footer-tagline {
	float: right;
	min-width: 25%;
	text-align: right;

	@include viewport(tablet) {
		float: none;
		width: auto;
	}
}

.footer-tagline a {
	border-bottom: 1px dotted;
	padding-bottom: 1px;
}

.site-footer .widget-title {
	font-size: 20px;
	margin-bottom: 25px;
	color: #fff;

	@include viewport(tablet) {
		margin-bottom: 15px;
	}

	@include viewport(mobile) {
		font-size: 18px;
		margin-bottom: 10px;
	}
}

.footer-navigation {
	display: inline-block;

	ul {
		margin: 0;
	}

	li {
		display: inline-block;
		list-style: none;
		margin-right: 8px;
	}
}

/* --------------------------------------------------------------
18.0 Attachments
-------------------------------------------------------------- */

.attachment {
	.comments-area, .entry-meta, .post-navigation, .entry-footer {
		display: none;
	}
}

/* --------------------------------------------------------------
19.0 Animations
-------------------------------------------------------------- */

@-webkit-keyframes slideInLeft {
  0% {
  	opacity: 0;
    -webkit-transform: translate3d(-2%, 0, 0);
    transform: translate3d(-2%, 0, 0);
    visibility: visible;
  }

  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
  	opacity: 0;
    -webkit-transform: translate3d(-24%, 0, 0);
    transform: translate3d(-2%, 0, 0);
    visibility: visible;
  }

  100% {
  	opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes fadeInUpImage {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 4%, 0);
    transform: translate3d(0, 4%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpImage {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 2%, 0);
    transform: translate3d(0, 2%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUpImage,
.home .hero-post:first-child .hero-text,
.home .rslides1_on .hero-text,
.blog .rslides1_on .hero-text,
.single .hero-text  {
	-webkit-animation-name: fadeInUpImage;
	animation-name: fadeInUpImage;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.hero-posts .post:first-child .hero-text {
	opacity: 1;
	-webkit-animation-name: none;
    animation-name: none;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3%, 0);
    transform: translate3d(0, 3%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 3%, 0);
    transform: translate3d(0, 3%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -10%, 0);
    transform: translate3d(0, -10%, 0);
    visibility: visible;
    opacity: 0;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated-faster {
	-webkit-animation-duration: .2s;
	animation-duration: .2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides1_on {
	display: block !important;
}

.rslides > li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.share-link {
	display: none;
}

#share-link label,
#share-link input {
	font-size: 15px;
	display: inline-block;
}

#share-link label {
	margin-bottom: 12px;
}

#share-link input {
	width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
}

.copy-label span {
	display: none;
}

.copy-label span,
.copy-toggle {
	font-weight: 700;
}

::selection {
	background: rgba(255, 244, 147, 0.8);
	color: $black;
}

.widget_simpleimage .simple-image {
	margin-bottom: 0;
}

.widget_simpleimage p:last-child {
	margin-bottom: 0;
}

.widget_simpleimage .simple-image + p {
	margin-top: 8px;
}

.wpcf7 p {
	font-size: 18px;
}

#main #jp-relatedposts {
	margin: 6% 0 0 0;
	padding: 0;

	@include viewport(mobile) {
		margin-top: 8%;
	}
}

#main #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post {
	margin-bottom: 0;

	@include viewport(mobile) {
		width: 100%;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

#main #jp-relatedposts h3.jp-relatedposts-headline {
	font-size: 16px;

	&:after {
		content: ":";
	}
}

#main #jp-relatedposts h3.jp-relatedposts-headline em:before {
	display: none;
}

#main #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a {
	border-bottom-color: transparent;
	font-size: 15px;

	&:hover {
		border-bottom-color: #c4d1e0;
	}
}

#main #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post .jp-relatedposts-post-title a:hover,
#main #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post:hover .jp-relatedposts-post-title a {
	text-decoration: none;
	font-size: 15px;
}

#main #jp-relatedposts .jp-relatedposts-items-visual .jp-relatedposts-post img.jp-relatedposts-post-img,
#main #jp-relatedposts .jp-relatedposts-items .jp-relatedposts-post span {
	margin-bottom: 4px;
	font-size: 13px;
}

#edd_checkout_form_wrap fieldset:not(#edd_purchase_submit),
#edd_checkout_form_wrap fieldset#edd_cc_fields,
#edd_checkout_form_wrap #edd_final_total_wrap {
	background: #ecf1f7;
	border: none;
}

#edd_checkout_form_wrap #edd_final_total_wrap {
	padding: 1em 1.387em;
}

#edd_checkout_cart .edd_cart_header_row th {
	background: #ecf1f7;
}

#edd_checkout_cart td,
#edd_checkout_cart th {
	padding: 1em 1.387em;
	border-color: #ecf1f7;
}

#edd_checkout_form_wrap legend,
#edd_checkout_form_wrap fieldset#edd_cc_fields legend {
	padding-bottom: 10px;
	border-bottom: dotted 1px #d4dde5;
}

#edd_checkout_form_wrap select.edd-select.edd-select-small {
	min-width: 75px;
}

#secondary .widget_edd_cart_widget {
	background: #ecf1f7;
	padding: 20px;

	@include viewport(tablet) {
		padding: 0;
	}
}

.widget_edd_cart_widget .edd_checkout a {
	width: 100%;
	display: inline-block;
	text-align: center;
}

.widget_edd_cart_widget .edd-cart-meta.edd_total {
	background: none;
	border-bottom: none;
	padding-left: 0;
}

.widget_edd_cart_widget .edd-cart-number-of-items {
	color: $black;
	display: none;
}

#main .su-tabs-pane,
#main .su-tabs-nav span,
#main .su-spoiler-title {
	font-size: inherit;
}

#main .su-note-inner,
#main .su-button,
#main .su-button span {
	border: none;
}

#main .su-button span {
	padding: 0 !important;
}

#main .su-divider {
	border-color: #ecf1f7 !important;
}

#main .su-divider a {
	border: none;
	color: #62707c !important;
}

.wpforms-container {
	background: #eaf1f7;
	padding: 5%;
}
